[2021-07-24 23:49] ttsesm commented on #246
Hhmm, I see. Well find in the [link](https://we.tl/t-IMWWq06pt8) the .blend file and the scene that I am using. As far as I see I do not have explicit settings or something.

[2021-07-25 10:13] SchmidtiT opened #254 "Render Scenes at a certain frame"
Hello together,

I have created a scene consisting of several cables. I would like to drop the cables into a box, like a Bin Picking process.
I have already assigned the appropriate physical parameters to all cables.
Now I wanted to ask if it is possible to render the scenes only from a certain frame?
I know that after about 100 frames the cables are in the box and don't move much anymore so I wou

[2021-07-25 18:45] cornerfarmer commented on #246
Alright, as I suspected, the camera has keypoints for the first five frames (you can see that by switching to the Timeline window and selecting the camera):
![grafik](https://user-images.githubusercontent.com/11724557/126909766-2abcede9-e8b2-479d-819d-fd05536cc0c8.png)

BlenderProc rendered frame `0` while you rendered frame `1`. Thats why outcomes differ. You can change the current frame by movin

[2021-07-26 06:31] themasterlink commented on #254
Hey,

it is possible, but not without changing the code (at least right now). One question I have is why don't you use the [physics module](https://dlr-rm.github.io/BlenderProc/examples/basics/physics_positioning/README.html`)? It would allow you to drop the objects, detect when they are dropped and stopped moving anymore and then these final poses are fixed. In that case you don't have to worry a

[2021-07-26 07:19] SchmidtiT commented on #254
Very good tip the module I have not had in mind thanks!
I also tried a little with it around but I always get the same error
`AttributeError: 'NoneType' object has no attribute 'substeps_per_frame' `
Do you have any idea what I can do about it?

I assigned every Object in the Scene a physics property and I use the module as follows:
[code]

[2021-07-26 07:33] themasterlink commented on #254
Hey,

can you check if the basic examples works for you?

[code]

If that also fails, make sure to remove blender and git checkout the current version 1.12.0 and then try again.

Best regards,
Max

[2021-07-26 07:55] SchmidtiT commented on #254
Hey thanks for the fast reply!

I now downloaded the most recent version but still get the Error message...
Is it a problem, when I assign the physics properties inside of Blender instead of in the config file?
Thats an Idea I came up with because that's the one thing that's different from the example

[2021-07-26 07:58] themasterlink commented on #254
Hey,

have you tried running the basic physics example? So that we know that the physics simulation works in general, then we can focus on the config file error you might have made. Based on what I have seen I can't see one, but maybe there is one.

No, that shouldn't be an issue. You can add the --debug at the end and you can then see what blender has internally after it ran your pipeline.

Best,

[2021-07-26 08:05] SchmidtiT commented on #254
Yes I tried the physics basic example and it worked fine so I guess the problem really is within my config file or in my Blender file.
I guess I have to do some trial and error to figure out what causes the exact Error.

Thank you very much!
Best, Toby!

[2021-07-26 08:11] themasterlink commented on #254
Hey,

you could share your whole config file and your blend file, then we can help you. Else I have chance of finding out what is going on.

Best,
Max

[2021-07-26 08:46] SchmidtiT commented on #254
Yes I can!
Is there a preferred way to share files privately? (And I have to say that the files and the code etc. may not look very good I'm quite new to programming and I just hard coded everything down the line...)

[2021-07-26 08:48] themasterlink commented on #254
Hey,

That is okay, you can send it to my email, check out my company page: https://rmc.dlr.de/rm/en/staff/maximilian.denninger/

If you changed any of the python src files, please also send to me. Better would be of course if you fork this repository in a private github and send me an invite.

Best regards,
Max

[2021-07-26 09:05] ttsesm commented on #246
I see, indeed you were right.
Well I learned something new today.
Thanks a lot.

[2021-07-26 09:31] #246 closed

[2021-07-26 09:41] themasterlink commented on #254
Hey,

thanks for providing the files.

I have no clue why it seems that the `BlendLoader` overwrites something, but I can't figure out what.

However, there is an quite easy fix, just add this line:

[code]

Right before this get executed:

https://github.com/DLR-RM/BlenderProc/blob/d15dba7d69c9374779c70766d3500a1c0c6e4745/src/utility/object/PhysicsSimulation.py#L98-L100

I don't know why this onl

[2021-07-26 10:07] SchmidtiT commented on #254
Thank you very much for taking a look at my files!
And now the code is running thank you but I experience some weird behaviour.
For some reason it seems like the specifications from the config file are now overwritten (e.g. I had a resolution of 1024x1024 specified and now it is back to the default of 512x512 and I also adjusted the` rerun.py` file in order to save every image in a continuing mann

[2021-07-26 11:32] themasterlink commented on #254
Hey,

you have to set that again, as the camera pose is not loaded from the .blend file:

https://dlr-rm.github.io/BlenderProc/src.camera.CameraInterface.html#src.camera.CameraInterface.CameraInterface

Here, you can see it used: https://dlr-rm.github.io/BlenderProc/examples/advanced/random_backgrounds/README.html

That seems more like a python problem, if you need help with your python I would as

[2021-07-26 11:32] #254 closed

[2021-07-26 11:42] SchmidtiT commented on #254
Alright! Thank you very much for your help!

Best,
Toby

[2021-07-26 11:45] cornerfarmer opened #255 "[BUG]: Rigid body world is missing when no rigid body component is added"
**Describe the bug**
The physics position module fails, if no rigid body world exists. The rigid body world is created automatically the first time a rigid body component is added to an object. However, if all object already have a rigid body component (e.q. from a blend file), then this is not done and an error is thrown.

See: https://github.com/DLR-RM/BlenderProc/issues/254

[2021-07-26 11:47] #255 closed

[2021-07-26 11:56] matemato commented on #251
Hey,

sorry for not replying for so long.

I tested it with your suggestion, but unfortunately it did not help.

What I did find out is that the physics now work if I open my config.yaml file with debug.py. Whereas previously it didn't work even in debug.py. The physics are a bit buggy on their own, so it's not necessarily a BlenderProc issue.

Thank you for your time. If you have any new suggesti

[2021-07-26 11:58] themasterlink commented on #251
Hey,

that is weird :( If you open the file directly, it should work as you are practically just opening as in blender.

The physics are buggy in blender that is true, for hard physics we added v-hacd to improve that but we never had any work with water before. If you want we would be happy, if you want to integrate your OceanModule back to BlenderProc.

Best,
Max

[2021-07-26 11:58] #251 closed

[2021-07-26 12:22] matemato commented on #251
Hey,

yeah the problem lies with Blender itself. When I try to render in debug.py it does not work, even though physics work in viewport.
I had the same problem before and baking the physics solved it, but now it doesn't work with BlenderProc. I'll find my way around it.

OceanModule is there only to make my ocean nicer (sets some rendering options and creates a few nodes in compositing).

Sorry b

[2021-07-26 18:21] matemato commented on #251
Hey,

after a while I found a solution to the problem:

BlenderProc ticks "Simplify" option on.

![image](https://user-images.githubusercontent.com/47794629/127038895-f98294ad-41df-4dd6-8529-7bd2c8f3c097.png)

If I untick this, physics work in rendered images as well!

Best wishes,
matemato

[2021-07-27 14:49] A-guridi opened #256 "[BUG]: Error in ZipFile in Windows systems"
**Describe the bug**
When trying to execute the basic example for installing blender for windows, the file is not found after downloading.
The parameters for the function call on line 157 seem to be mixed up.

**General Information**
1. Which BlenderProc version are you using?

1.12.0, the latest as of today 27.07.2021

2. On which operating system are you?

Windows 10 x64

3. Have you checked the

[2021-07-27 14:51] themasterlink commented on #256
Hey,

thanks, we don't have access to a windows computer, here. We will fix this as soon as possible!

Best regards,
Max

[2021-08-01 17:24] 1zb opened #257 "[FEATURE]: Is it possible to make some objecs in the center of the view when rendering 3d-front scenes?"
**Is your feature request related to a problem? Please describe.**
I want to make some furniture objects in the middle of rendered images. Is it possible to do that?

**Describe the solution you'd like**
I guess I need to add something in the section `"module": "camera.Front3DCameraSampler",`. But I don't know how to do that.

[2021-08-02 06:49] themasterlink commented on #257
Hey,

of course that is already possible.

So, what you need to do is use the `getter.POI`. You haven't specified which objects you want to look at, but I assume you custom loaded some own objects, we have a really similar example [here](https://dlr-rm.github.io/BlenderProc/examples/datasets/shapenet_with_suncg/README.html):

https://github.com/DLR-RM/BlenderProc/blob/d15dba7d69c9374779c70766d3500

[2021-08-02 08:24] soans1994 opened #258 "dataset creation"
Dear Authors,

i have some queries regarding synthetic dataset creation using blenderproc.
Which is the good format for dataset creation from 3d models. currently im generating coco style dataset as per https://github.com/DLR-RM/BlenderProc/tree/main/examples/advanced/coco_annotations
I have tried it for generating dataset from 3d sign board models. I want to build a larger dataset. However, when

[2021-08-02 09:06] cornerfarmer commented on #258
Hey @soans1994,

I would recommend to perform multiple runs of BlenderProc and let them be merged into one coco_annotations output file. You can do this by enabling the parameter `append_to_existing_output`, like it is done here:
[code]

This will now keep the already existing output files and just append the newly rendered images. The categories in the coco_annotations.json file will be merged. H

[2021-08-02 09:10] soans1994 commented on #258
@cornerfarmer
thank you very much. I will add  "append_to_existing_output": True to config. Also, i should use the same output file name in the argument when running the coco annotations code. right?

[2021-08-02 09:12] cornerfarmer commented on #258
Yes, the `output_dir` parameter has to point to the same directory.

[2021-08-02 09:15] soans1994 commented on #258
yes, understood. thank you

[2021-08-02 09:16] themasterlink commented on #258
Great :) I am closing this.

[2021-08-02 09:16] #258 closed

[2021-08-09 08:37] qingweihk commented on #222
Hi, I have the same question.But I don't  really understand where to set the USER configuration.Could you please explain more in details?

[2021-08-09 08:58] themasterlink commented on #222
Hey,

could you please translate this to English? All comments and remarks in this github should be done in English.

For setting environment variables see:

[2021-08-09 09:49] SnowdenLee opened #259 "Single Module Debugging"
Hello,

I have a question regarding debugging. Is that possible to check the intermediate results in the pipeline? For example, I would like to see physics simulation process. Is there any way to do so?

Thanks a lot!

[2021-08-09 10:15] cornerfarmer commented on #259
Hey @SnowdenLee,

you can of course check the scene between modules by simply commenting out all the modules that come afterwards in your config file. If you want to look at the scene during a module's execution, the only current way is to set a "breakpoint" in the form of an exception in the module's code.
So to look at the simulation itself, you can place the following line after [line 38](https

[2021-08-09 10:41] SnowdenLee commented on #259
Thanks for your answer.
I tried with ShapeNet objects. But the simulation debugging doesn't really work. The objects still have the initial pose.
![image](https://user-images.githubusercontent.com/49041089/128694475-d16fc9a9-74c0-4367-aa25-db9c0df48c58.png)

[2021-08-09 11:27] cornerfarmer commented on #259
Is there maybe a general problem with your config?. Does it work when you run the config without any debugging? If not, I would need more information about what you are doing.

You could also check, whether you did everything correct by trying to debug the physics_positioning example. For me that one definitely worked.

[2021-08-09 11:52] SnowdenLee commented on #259
I tried physics_positioning example, but all objects also just overlap with each other.
![image](https://user-images.githubusercontent.com/49041089/128701908-49047ab7-8501-484d-80d7-73a7271293d2.png)

[2021-08-09 12:08] cornerfarmer commented on #259
That is very odd. Have made any changes to the BlenderProc code or are you using an older version?

[2021-08-09 15:26] #257 closed

[2021-08-09 16:14] SnowdenLee commented on #259
I just tried clone again and do not modify anything except add raise exception, but physics_positioning example is still now working.

[2021-08-10 01:33] qingweihk commented on #222
Thanks very much

[2021-08-10 09:35] cornerfarmer commented on #259
I still cannot reproduce this behaviour. For me it works with a fresh clone of the repo:
![grafik](https://user-images.githubusercontent.com/11724557/128843952-9c2419aa-d86b-4b43-a9f7-c595ebca0e1b.png)

Can you please send the me the command line output you get?

One other thing you could try is to remove `with Utility.UndoAfterExecution():` from line 34 of the same file. Maybe that creates some c

[2021-08-10 15:01] #259 closed

[2021-08-16 12:46] mihir-k9 opened #260 "[BUG]: Surface Lighting does not work as expected"
**Describe the bug**
Trying to pick a Cube entity using the SurfaceLighting module to illuminate a scene.

**General Information**
1. Which BlenderProc verison are you using?
1.11.1

2. On which operating system are you?
Windows 10

3. Have you checked the issue tracker to see if a similar issue has been opened?
Yes, found nothing similar.

4. Have you changed BlenderProc in anyway besides the con

[2021-08-16 13:27] themasterlink commented on #260
Hey,

You have to execute the module before you run the renderer.

Before it looks like this:

![0_colors](https://user-images.githubusercontent.com/6104887/129571097-94719025-b8b0-443b-91cb-dbf4e9a1e853.png)

Then it should work, I used the normal cube as `Cube.005` is not in the default scene.

![0_colors](https://user-images.githubusercontent.com/6104887/129570968-3ffa7e5e-71bc-4b5f-afd3-f203be

[2021-08-18 12:19] mihir-k9 commented on #260
Thank you for that. It was trivial error, not sure why I missed that, sorry about it.
I can get the module to emit light using the default objects in the scene, but it seems to have no effect when I add another object and try to select that. Is there some property I need to add through Blender to ensure it works?

[2021-08-18 12:26] themasterlink commented on #260
No worries.

That should also work, could you please provide your config again. I assume your selection process via the `getter.Entity` is faulty.

[2021-08-18 12:36] mihir-k9 commented on #260
{
      "module": "lighting.SurfaceLighting",
      "config": {
        "selector": {
          "provider": "getter.Entity",
          "conditions": {
            "name": "Cube.005",
          },
        },
        "emission_strength": 500,
        "keep_using_base_color": True,
      }
    },

That's the config. I've added the same colour to the object through the "Surface" and "Viewport Display"

[2021-08-18 12:44] themasterlink commented on #260
And you are sure there is a "Cube.005" in the scene?

You can execute the full pipeline in debug by adding `--debug` at the end of your python command and then clicking on the play button in the top middle of the screen.

[2021-08-18 12:54] mihir-k9 commented on #260
Somewhere along the way it was renamed to "Cube_Cube.005" . Thanks again.

[2021-08-18 13:08] themasterlink commented on #260
No worries, I will close this issue. If you have another issue, feel free to open a new one.

[2021-08-18 13:08] #260 closed

[2021-08-19 09:07] shtams opened #262 "The ability to record the final (after physics or other influences) transformations of scene objects."
Hello, you wrote on youtube:
you can ask a question via github. I'm sure we can help you there better than on YouTube ...
I will try to implement it.

the problem is in understanding the BlenderProc pipeline.
transformations of objects in the BlenderProc pipeline, scene objects, may be subject to physics adjustments or other changes,
I want to record the final transformations of meshes, lights or

[2021-08-19 09:12] themasterlink commented on #262
Hey there,

you can use the StateWriters, there are StateWriters for the camera, objects and lights.

https://github.com/DLR-RM/BlenderProc/blob/fa105896699dd641d12edd0fdeffa6817bba571d/examples/basics/light_sampling/config.yaml#L54-L62

You can also check the documentation on them here:

https://dlr-rm.github.io/BlenderProc/src.writer.ObjectStateWriter.html#src.writer.ObjectStateWriter.ObjectStat

[2021-08-19 09:30] shtams commented on #262
class src.writer.ObjectStateWriter.ObjectStateWriter(config)

what if no hfd5 file is available?

1.How to define the numpy file to write to?
2. is it possible to write this data to an hdf5 file?
3. What other options?

[2021-08-19 09:33] shtams commented on #262
and ...
{
      "module": "writer.ObjectStateWriter"
    },
    {
      "module": "writer.LightStateWriter"
    },
    {
      "module": "writer.CameraStateWriter"
    },

how it use?

[2021-08-19 09:35] themasterlink commented on #262
The `hdf5` file is always at the end of each config. So, BlenderProc generates data during each run and in the end every thing is collected and written to and `hdf5` file, by just adding the `Hdf5Writer`:

https://github.com/DLR-RM/BlenderProc/blob/fa105896699dd641d12edd0fdeffa6817bba571d/examples/basics/light_sampling/config.yaml#L54-L72

I would advise to use .hdf5 containers as they keep all in

[2021-08-19 09:38] shtams commented on #262
what about the rest of the scene objects?

[2021-08-19 09:39] shtams commented on #262
aaa, >>o one camera pose together.
about all scene content?

[2021-08-19 09:41] themasterlink commented on #262
They are also saved there.

Just try it out and look at the contents inside of the `hdf5` file.

[code]

And look at the output in `examples/basics/light_sampling/output` for example by:

[code]

Each file gets all scene content + the camera pose relevant content.

I would really advise to go through the example in https://github.com/DLR-RM/BlenderProc/tree/main/examples/basics

[2021-08-19 09:45] shtams commented on #262
Thank you so much for the detailed help! I will test it!

[2021-08-19 09:55] shtams commented on #262
one more question:
It says here:

 class src.writer.ObjectStateWriter.ObjectStateWriter (config) [source]
    Bases: src.writer.WriterInterface.WriterInterface

!!! Writes the state of all objects for each frame to a numpy file if no hfd5 file is available. !!!

now, i see all parameters in hdf5 file, check it , and see in hdf-view..., but
question ... how can I write this to other files?[](url)

[2021-08-19 10:53] themasterlink commented on #262
Why do you want to write it to other files. I recommend again using .hdf5 files.

The support for npy files is official and is only used in between steps, that could mean that the resulting npy files are not as expected.

If you need npy files, you can always just read in the .hdf5 files and save them as npy files.

[2021-08-19 11:19] shtams commented on #262
ok, thank you very much!

[2021-08-19 11:19] #262 closed

[2021-08-19 23:33] shtams opened #263 "write states doesn't work in python3 examplerun.py /basics/basic/main.py"
Hi Guys,

i tried to implement some points from
See this issue: https://github.com/DLR-RM/BlenderProc/issues/246.
but running this example:
python3 run.py /basics/basic/main.py examples/resources/camera_positions examples/resources/scene.obj examples/basics/basic/output

added the following code to the main.py file after Initializer.init ():
[code]
[code]
but, output files 0.hdf5 && 1.hdf5, не сод

[2021-08-20 02:45] shtams commented on #263
Solved the problem, thanks!

[2021-08-20 02:54] shtams commented on #263
Если для кого то будет интересно, прилагаю код.
`from src.utility.SetupUtility import SetupUtility
SetupUtility.setup([])

import argparse

from src.utility.WriterUtility import WriterUtility
from src.utility.Initializer import Initializer
from src.utility.loader.ObjectLoader import ObjectLoader
from src.utility.CameraUtility import CameraUtility
from src.utility.LightUtility import Light
from src

[2021-08-20 05:03] themasterlink commented on #263
Hey,

the main issue here was that executed the `StateWriters` before you actually loaded anything. Writing is always done after rendering.

Best,
Max

[2021-08-20 05:03] #263 closed

[2021-08-20 14:57] shtams commented on #263
верно, я это понял, спасибо за пояснения!  я правильно понимаю, что таким образом могу не ипользовать config.yaml?

[2021-08-20 14:58] themasterlink commented on #263
Yes, the goal for 2.0.0 is to remove the configs completely. So I advise to not use the config file if possible

[2021-08-20 15:01] shtams commented on #263
yes, I saw this in your communication in some issue, tell me, when is version 2.0 planned?

[2021-08-20 15:07] themasterlink commented on #263
Soon ;)

We have moved basically all examples to the python api, now we have to redefine the API to make it easier to use. But, we are trying to do it soon.

[2021-08-20 15:15] shtams commented on #263
Good luck in development, I will wait for the update! Thanks !

[2021-08-30 09:58] RoyCLR opened #264 "How to duplicate objects in a scene?"
Scenario:
I have a .blend file of a tennis ball.
Now I want 100 tennis ball in my image, randomly positioned.
Is there an existing module to do this?

Sorry for the simple question but I cannot find similar function mentioned in the doc.

[2021-08-30 12:55] cornerfarmer commented on #264
Hey @RoyCLR,

there are two ways how you could do that:
1. Run the loader N times, by using the `"amount_of_repetitions"` config parameter, e.q.:
[code]
However, this may actually take a while, as the loading is here performed 100 times.

2. Alternatively, you could also add the duplication functionality to the entitymanipulator:
Add the following after line [343](https://github.com/DLR-RM/Blender

[2021-08-30 13:05] AmesnilOSE opened #265 "How to load a specific camera from a blender project"
Hi

I'm a new user of BlenderProc.
I'm wrking with a specific Blender project that includes 6 specific cameras.
I would like to load one of this specific camera to renderer images with BlenderProc.
I haven't found any modules for that. Is it possible? and how?

Thanks

[2021-08-30 14:04] cornerfarmer commented on #265
So, if I understand you correctly, you want to load camera poses from a .blend file, right?
This is possible via the BlendLoader:
[code]
This will load all objects and all camera poses from the given blend file. Only the camera poses of the main camera are loaded. Also the poses need to be persisted via [blender keyframes](https://docs.blender.org/manual/en/latest/animation/keyframes/introduction.

[2021-08-30 16:13] AmesnilOSE commented on #265
Thanks for your answer.
Yes it is exactly what I would like to do.
But what do you mean by main camera? The active one in the .blend file (bpy.context.scene.camera)?
And how can I load the settings of the camera such resolution, type (like Perspective), FOV, ..., set in the .blend file?
Thanks

[2021-08-30 16:56] cornerfarmer commented on #265
Yes I mean the active camera. But I just looked at the code again and it seems that only one camera in the .blend file is supported (its not so easy to check which would be the active one). So if there are more in one file, only the last one will be considered.

This is not possible yet. Intrinsics are usually set directly via the config file.

In both cases you would need to adjust the BlendLoade

[2021-08-31 21:28] janfelixklein opened #266 "[Question] Image filenames when creating CoCoAnnotations"
Hello everyone,

I am currently trying to create a synthetic dataset based on BlenderProc in CocoAnnotation style. When running the example I was wandering why in the created annotation file the filename is as following:

`coco_data/rgb_0001.png` which includes the directory "coco_data", which is in my opinion not the intended way to name the images. I further checked the CoCoWriterUtility file an

[2021-09-01 08:16] cornerfarmer commented on #266
Hey @janfelixklein

thanks for pointing that out. The `coco_annotations.json` had been moved from `output/coco_annotations.json` to `output/coco_data/coco_annotations.json` in a recent PR, but apparently the paths inside the .json file were not updated. We gonna fix that in the next version.

Until then, as you already indicated, the following workaround can be used:
Change line [296](https://gith

[2021-09-01 09:25] AliButtar opened #267 "[Question] Random Texture on a Single Object"
Hi Everyone,

As far as I have seen the documentation, the only way of applying textures randomly is through putting all the textures in a single folder and then blenderProc applies from them randomly to all objects in the scene randomly.

My problem is a little bit different, I have only one object in a scene with a camera sampler module loaded which is taking 36 shots. I want blenderProc to appl

[2021-09-01 10:08] themasterlink commented on #267
Hey,

the most simple solution would of course be to only render one image per scene, but you would have the overhead of loading the object many times, if the object is really big that could take a while. I would suggest saving the object as .blend file that makes it much faster to load than loading .obj files.

And then use the `rerun.py` script. At the current stage with the config file the desi

[2021-09-01 10:33] cornerfarmer commented on #267
Hey @AliButtar,

there is a simple way to combine multiple runs into one coco annotations file. See [here](https://github.com/DLR-RM/BlenderProc/issues/258#issuecomment-890859218)

[2021-09-01 10:38] AliButtar commented on #267
Oh thanks. I totally overlooked this. I'll try this out.

[2021-09-01 12:43] AliButtar commented on #267
@cornerfarmer Thank you, Seeing the handy code you pointed out works just fine for my problem. I just used one texture at a time with a Camera Sampler and then kept appending the COCO annotations. Thank you @themasterlink for your suggestion as well. I will close the Issue now.

[2021-09-01 12:43] #267 closed

[2021-09-01 14:02] ttsesm opened #268 "[Question] Random camera position and rotation with reasonable output view"
Hi,

I have a set of rooms which could be either rectangular or rectangular with extrusions as it can be seen bellow:

![image](https://user-images.githubusercontent.com/10189018/131681521-a37302e0-2b58-45c6-b5c7-535ef1e88049.png)
![image](https://user-images.githubusercontent.com/10189018/131682058-a71ca548-9a42-47d2-ae09-ad5e2f0119e1.png)

Now I am trying to position the camera in a random posit

[2021-09-01 14:41] cornerfarmer commented on #268
Hey @ttsesm,

you should take a look at the [CameraValidation class ](https://github.com/DLR-RM/BlenderProc/blob/d15dba7d69c9374779c70766d3500a1c0c6e4745/src/utility/camera/CameraValidation.py#L14) and at [this example](https://github.com/DLR-RM/BlenderProc/blob/main/examples/datasets/suncg_with_cam_sampling/main.py#L56) where it is used.

For checking that the camera is inside the room you could

[2021-09-01 16:42] shtams opened #269 "Trouble with changing materials between frames"
### greetings to you BlenderProc authors!!! i have truble...
### my algoritm, I guess it's wrong!

[code]

As far as I understand, I'm wrong somewhere, if I had the opportunity to determine the file name * .hdf5, but you yourself form on the basis of the frame !!! how can I arrange such rendering when I need to change something on the scene between frames? (materials / lights / any BLENDER attribu

[2021-09-01 16:47] shtams commented on #269
if i try to render scene in it variant .... that :
Traceback (most recent call last):
  File "/home/ksl/Projects/BlenderProc/BasicProj/main_orig.py", line 115, in <module>
    module.run()
  File "/home/ksl/Projects/BlenderProc/src/renderer/RgbRenderer.py", line 78, in run
    self._render(
  File "/home/ksl/Projects/BlenderProc/src/renderer/RendererInterface.py", line 188, in _render
    Renderer

[2021-09-01 20:58] Anchoret13 opened #270 "How to generate a continuous circular trajectory for the camera?"
I'm trying to generate a dataset, which the camera moves on a continuous circle/arc trajectory, and the objects are placed in the center.
I tried the Disk sampler and used the arc method, but generated data are obviously randomly sampled. How can I generate a sequential trajectory?

[2021-09-02 06:13] shtams commented on #269
I believe that I have solved the problem.
need to set frame before module.run ()
and use:

[code]

but if you have a better solution, I would be grateful!

[2021-09-02 06:21] themasterlink commented on #269
Hey,

BlenderProc in version 1.x is designed to have static scenes, with dynamic camera placements. That means in each BlenderProc run you construct a scene and then render some images. I would recommend restarting BlenderProc several times instead of trying to do it in one run.

![](https://github.com/DLR-RM/BlenderProc/blob/main/images/BlenderProcRerun.jpg)

Could you explain exactly what kind o

[2021-09-02 06:25] themasterlink commented on #270
Hey,

for such a thing, I would recommend using the python API, here is an example where we sample camera poses:

https://github.com/DLR-RM/BlenderProc/blob/main/examples/basics/camera_sampling/main.py

You now would only have to replace that part with your custom camera placement:

https://github.com/DLR-RM/BlenderProc/blob/d15dba7d69c9374779c70766d3500a1c0c6e4745/examples/basics/camera_sampling/

[2021-09-02 09:29] shtams commented on #269
Don't worry, ok...
if I can't render a frame in one run, I use several runs of BlenderProc.
ok, thanks!

[2021-09-02 09:44] themasterlink commented on #269
Great, all of us ;)

[2021-09-02 09:44] #269 closed

[2021-09-02 10:20] ttsesm commented on #268
@cornerfarmer thanks a lot for the hints. Actually the `CameraValidation` class with the `obstacle_in_view` and `scene_coverage_score` methods seems to work quite well for my needs. Using the `position_is_above_object` seems also to be useful as an extra security condition especially with the extruded rooms.

As for the camera rotation I used the settings that you have here https://github.com/DLR-

[2021-09-02 10:20] #268 closed

[2021-09-03 06:03] shtams commented on #270
build a rotation matrix around a point and apply this matrix to the camera
[code]

[2021-09-03 06:52] themasterlink commented on #270
Hey,

There is no question in your last response, therefore I assume you wanted to share your solution and the problem is now solved.

I will close this issue then. I am glad it helped.

Best,
Max

[2021-09-03 07:00] shtams commented on #270
I'm not an author, I just wanted to help a person

[2021-09-03 07:06] themasterlink commented on #270
Hey,

I am so sorry, I should have checked.

Best,
Max

[2021-09-03 09:39] shtams opened #271 "render scene on transparent background"
hello developers!

`bpy.context.scene.render.film_transparent = True` don't work

render scene on transparent background by BlenderProc, it possible?
how to implement it ?

Thanks!

[2021-09-03 10:41] themasterlink commented on #271
Hey,

It is possible, check out this example: https://github.com/DLR-RM/BlenderProc/tree/main/examples/advanced/random_backgrounds

There we render an image with a transparent background.

Best,
Max

[2021-09-03 12:49] shtams commented on #271
thanks!

[2021-09-03 12:49] #271 closed

[2021-09-03 23:12] Anchoret13 commented on #270
Thanks for your solution, but I'm sorry I didn't make myself clear.
If I want to use run.py with a config file, for example, /examples/basic/camera_sampling/config.yaml, what can I do with it?

[2021-09-04 16:17] shtams opened #272 "should there be a border around objects in distance/depth?"
Hi Guys!
[](https://ibb.co/jbgWrkp)

[](https://ibb.co/3mxrqR6)

https://ibb.co/jbgWrkp
https://ibb.co/3mxrqR6

sorr, can't insert link(((

the next question is whether there should be such borders on depth and distance images?

[2021-09-06 09:48] MartinSmeyer commented on #272
Depends on the depth sensor you want to simulate, some do smooth at the boundaries, others don't (or miss values).  We have both options, see the [basic example](https://github.com/DLR-RM/BlenderProc/blob/fa105896699dd641d12edd0fdeffa6817bba571d/examples/basics/basic/README.md#rgbrenderer):

So if you want to have perfectly sharp depth, remove the "render_distance" and the dist2depth postprocessin

[2021-09-06 11:47] shtams commented on #272
Thank!

[2021-09-06 12:14] #272 closed

[2021-09-06 16:26] AmesnilOSE commented on #265
Thank you. That helps me

[2021-09-06 17:15] #265 closed

[2021-09-06 17:18] eugval opened #273 "Is "closed loop" rendering supported?"
Hello,

First, thanks again for this repository and all the effort you put in maintaining it, it has already been very helpful!

I wanted to ask if it can be used for the following usecase, and if so what would be the best way to achieve this.

In a nutshell, I would like to be able to compute the next camera pose given a rendering of the previous pose for a trajectory of say 10 steps. This is to

[2021-09-06 18:48] Anchoret13 commented on #270
Question solved! Using camera.cameraloader rather than camerasampler with generated location and rotation can solve my problem.

[2021-09-06 18:48] #270 closed

[2021-09-07 01:00] shtams commented on #273
[code]
try this, it works.

[2021-09-07 07:46] themasterlink commented on #273
Hey,

there are several ways on how to approach this. You either do all of this in one run. However, I would advise against it as the likelihood of something going wrong is quite big. As blender is a giant state machine and you might end up in a state where you don't want to be. So, what I would do is.

[code]

You can check out the `CameraLoader` in this example: [https://dlr-rm.github.io/Blender

[2021-09-07 09:47] eugval commented on #273
Hello,

Thank you both for your answers, both are very helpful!

@shtams If I understand your script correctly, this will run the modules defined in modules in a loop. Those will then save the renderings to my defined path, and I load those from disk  and process the next camera pose in `CALCULATE CAM MATRIX` . This is pretty much what I'm looking to do.

Would you mind elaborating somewhat on how

[2021-09-07 10:01] themasterlink commented on #273
Hey,

Please never change that script :D No he means the script which is the parameter you give to the `run.py`

[code]

Please don't do this either you don't need this for this.

Yeah, but not in BlenderProc 1.x.x as using these modules is just ugly. That is the main reason we create BlenderProc 2 right now.

Yes something like that, the external script would be `your_script.py` at the top. Exact

[2021-09-07 11:31] shtams commented on #273
y, @themasterlink is very right ,dont touch pipeline or change run.py
use :

or rerun run.py each frame ...if something does not work one run in a loop. so far everything works for me in this case.

for begin example,
waiting for  version 2.0 !!!)))

[2021-09-09 10:13] eugval commented on #273
I see!

I think what confused me is that my local version of blenderProc didn't yet have the functionality to execute the modules from a python file rather than a config file: Great addition!

Thank you, I understand better now, I  will  try to get this to work given your advice.

To summarise, the two possible ways to go about this are:

1. Use the new python script functionality to run a loop th

[2021-09-09 12:48] themasterlink commented on #273
Correct!

Best,
Max

[2021-09-09 12:48] #273 closed

[2021-09-13 13:51] harezhh opened #274 "How to capture multiple image with randomized camera position"
Dear BlenderProc-Team,

first thank you for this amazing tool, it will help a lot of people! I would like to use your tool to generate synthetic data of cardboard boxes. Unfortunately there is no public dataset for this object. Because of that I have to create it by my own for my project.

Currently I finished to create multiple cardboard boxes. Now I want to acquire thousand images of the boxes b

[2021-09-13 13:58] harezhh commented on #274
Sorry, just saw that  #270 asked a similiar question.

[2021-09-13 13:58] #274 closed

[2021-09-14 16:23] AmesnilOSE opened #275 "Question : load objects from blender with multiple scenes"
Hi
I have a blend file that contains 2 scenes.
I would like to load the objects of only one scene.
Right now, with BlenderProc, all the objects (of the both scenes) are loaded.
Is there a module to do that?
Thanks

[2021-09-15 06:48] themasterlink commented on #275
Hey,

you are right that is a bit tricky with the yaml based API.

What you could do is write your own Module, to delete the files you don't want. Or you could just split the two scenes in two blend files by hand, which is much easier ;)

[code]

In the yaml file you then can add:

[code]

I hope this helps.

PS: I have no tested this code, typed it literally in the browser.

Best,
Max

[2021-09-15 07:18] personwhofloat commented on #123
Good day,
Are there any updates on this issue? I face the same problem as I want my object to be reflective with other objects in the scene. What I got was all black material.
What is designed in Blender:
![Capture](https://user-images.githubusercontent.com/46335308/133388371-f9595436-0d48-4da7-9943-373c48a56f92.JPG)
What was captured:
![rgb_0001](https://user-images.githubusercontent.com/46335308

[2021-09-15 07:23] themasterlink commented on #123
Hey,

it is a bit hard to judge if this is the same problem. It doesn't seem like it, would it be possible to provide the `.blend` file and your config file, then I can tell you exactly what you need to change. If not, maybe can you create a minimal example, which has the same problem?

Best regards,
Max

[2021-09-15 08:13] AliButtar opened #276 "[Question] Get COCO Annotations for Semantic Segmentation / How to treat a model with with different parts or meshes as a single instance."
Hello,

I have 3D models in which there are different parts or meshes. Whenever I write annotations for them using COCO Annotation Writer. The annotations it gives are different for each part. For Example, if it's a car, the tyres, doors, windows are all being annotated differently and categorized as cars ( because that's the category I want to give). It is treating each part as a different instan

[2021-09-15 09:14] cornerfarmer commented on #276
Hey @AliButtar ,

as you already described, there are two ways of how you could approach that:
* Use instance segmentation, but merge the objects parts together, as you did with e.q. `CTRL + J`. You wrote that you got "odd and inconsistent" annotations. I cannot reproduce that, can you explain that in a bit more detail, maybe with an image?
* Use semantic segmentation and give all object parts of

[2021-09-15 09:54] AliButtar commented on #276
Hi @cornerfarmer,

So just to show you the difference between before and after merging the object parts together by CTRL + J.

[This](https://bit.ly/2Z3k5Ol) is the model that I am using.

This is before joining, the same kind of results that I showed earlier.
![image](https://user-images.githubusercontent.com/11333899/133412290-70945d24-0d3c-4fa4-848d-d9fbd73a2216.png)

And this is after Joining

[2021-09-15 10:15] AliButtar commented on #276
Hey @cornerfarmer,

The code changes you suggest work like a charm. Thank you so much. It works great for me as I have one window in a scene at a time.
![image](https://user-images.githubusercontent.com/11333899/133415400-7475e1b1-626c-48f3-866d-be2166fbf22e.png)

[2021-09-15 11:59] AliButtar opened #277 "[Question] How to set up camera sampler so that it fits automatically to an object in a scene?"
Hello again,

I have a lot of different models in different blend files and the problem with them is that they are inconsistent in terms of sizes and location. In blender, if I select an object and go to `View>AlignView>Align Active Camera to Selected`, then it maps the camera automatically perfectly to the object no matter what size it has or where it exists in terms of X, Y, Z coords.

I tried s

[2021-09-15 12:23] themasterlink commented on #277
Hey @AliButtar

If you already have an operation you want to execute. You can just check out what blender does. Open blender and switch at the top to the `Scripting` tab in the middle of the screen. The execute the operation and in the lower left corner you should see the command.

[code]

![Bildschirmfoto von 2021-09-15 14-21-49](https://user-images.githubusercontent.com/6104887/133432596-2365bd2

[2021-09-15 13:08] AliButtar commented on #277
Hey @themasterlink

I see, This will definitely help. I will try adding it to CameraSampler.py, If you have any suggestions where to try and implement this so it works seamlessly, do let me know.

Thanks again,
Ali

[2021-09-15 13:14] themasterlink commented on #277
Hey,

to be honest with you, I would rather size down all objects to the same size, which is much easier. I just wanted to show you how to extract function calls from blender.

After loading them you can just do this:
[code]

Not tested ;)

Best,
Max

[2021-09-15 13:25] AliButtar commented on #277
Hey @themasterlink ,

Ill try this out. Thanks a lot for pointing this out.

[2021-09-16 07:51] personwhofloat commented on #123
Hello, thank you for your prompt reply
You can access the blend file and config file [here](https://drive.google.com/drive/folders/1w6iwncG30wpI046i2lVNOSXdKNtxcODU?usp=sharing)

[2021-09-16 08:17] themasterlink commented on #123
Hey,

the first thing I see, you need to use cycles and not evee. Cycles is a light simulation while Evee is just a game render engine, fast but not accurate and nothing like the real word. The big advantage of BlenderProc is the use of cycles. Then it looks something like this, but having shiny surfaces on all sides, is going to kill any light simulator :D

![test_elevator](https://user-images.gi

[2021-09-16 08:35] personwhofloat commented on #123
Thank you a lot, Max, that did solve my problem. Also, thanks for pointing out the differences between eevee and cycles; I am new to both blender and your module, so your insight really help a lot.
Best Regards

[2021-09-16 08:39] themasterlink commented on #123
Hey,

no worries, if you want to thank me tell everyone you know about BlenderProc ;)

Best,
Max

[2021-09-16 08:39] #123 closed

[2021-09-16 13:54] shtams opened #278 "How use pro_lighting_studio-blender ?"
Hi authors,
tried to load and render the scene with the light set using the plugin: pro_lighting_studio-blender, the lights don't work, but everything is fine in blender. what could be the problem?

[2021-09-16 13:57] themasterlink commented on #278
Hey,

we don't offer support for paid content. But, I encourage you to use the debug mode: https://dlr-rm.github.io/BlenderProc/README.html?highlight=debug#debugging

There you can check at which point what happens.

How do you even start the tool inside of an BlenderProc run?

Best,
Max

[2021-09-16 14:03] AliButtar commented on #277
Hey @themasterlink,

I have some updates regarding this and see if you can help me out here. So resizing didn't really help but the method you pointed out above in getting the function for an operation definitely did.

Here is what I did so far.

[code]

Using this code I am able to automatically align the camera to the object. In the code, I only change the camera angle and align it again for a d

[2021-09-16 14:07] shtams commented on #278
light sources do not work, frames are rendered.

[2021-09-16 14:11] themasterlink commented on #278
I am sorry but this is not a proper bug report, could you please provide in detail, what you have tried and what does not work.

I already understood that the lights don't work, but are they loaded and they don't have any emission shader or are they not loaded, do you load them during a BlenderProc run or a they saved in the blend file. All these informations are crucial.

[2021-09-16 14:14] shtams commented on #278
I load the * .blend file, the light sources are configured in the blender using the plugin
 Pro lighting studio

[2021-09-16 14:18] shtams commented on #278
all objects in the scene are displayed, but not without light, the light works in blender, but not through the BlenderProc pipeline

[2021-09-16 14:48] themasterlink commented on #277
Hey,

so what you have done so far kind of works, I of course would suggest you clean the code up first, before continuing work on it.

Something like this:

[code]

You can wrap this into BlenderProc without great effort, by using the 1.x python API:

[code]

Now you can start this as a normal script:

[code]

This will create your camera_poses.

For giving them to the process, the most simplest

[2021-09-16 15:33] shtams commented on #278
im solved a problem...

[2021-09-16 15:33] #278 closed

[2021-09-17 11:12] themasterlink commented on #278
@shtams

Could you please explain how you solved it, for people who have the same problem in the future?

[2021-09-17 11:13] themasterlink commented on #276
Hey,

I will close this for now.

Best,
Max

[2021-09-17 11:13] #276 closed

[2021-09-17 11:14] themasterlink commented on #200
Hey,

I will close this as we haven't add any other occurrence of this error. It might be an old blender version, which didn't check properly if the optix cache was already created.

Best,
Max

[2021-09-17 11:14] #200 closed

[2021-09-19 05:54] shtams commented on #278
when you load a scene with a blender, the light sources are not loaded with the scene....
this was also news to me, but since I always created the light myself, I did not notice it

for example:
[code]

but needed to make light using ProLightStudio Plugin
and after load scene , simple use:

bpy.context.scene.pl_studio_props.use_pl_studio_lights = True
for example : preset 'Backlighting' ...
bpy.co

[2021-09-20 04:29] themasterlink commented on #278
Thanks for the update!

[2021-09-21 14:20] shtams commented on #277
dont understood, why u cant use blender methods?

[2021-09-21 14:23] themasterlink opened #279 "Black board for 3D artists, get your perfect models with the help from experts."
Hey,

if you opened this you are either an 3D artist and want to offer your services here or you are someone who needs help creating the perfect 3D models for their own work.

I ask you, that only 3D artists comment in this thread, if you need assistance you can select one of the 3D artists below and get in contact with them via a different channel.

To all the 3D artists out there, I encourage yo

[2021-09-21 14:25] themasterlink commented on #277
For what exactly?

[2021-09-21 14:59] AliButtar commented on #277
Hey @themasterlink,

Apologies for the late update. So regarding this problem I haven't exactly done what you suggested because I ended up using known camera location coords and rotations. I'll share the code here. I used the BlenderProc API like you suggested to extract the camera location coords and rotations for every 5 degrees in a file. I move the camera from -35 degrees to +35 degrees and th

[2021-09-21 15:32] shtams commented on #277
where this rendering?)

[2021-09-21 15:36] shtams commented on #277
you can put everything in one scene and hide, then show separately what you need!

[2021-09-21 15:39] shtams commented on #277
[code]

[2021-09-21 15:43] shtams commented on #277
no need to invent, use BlenderProc - only for rendering, everything else is from blender

[2021-09-21 15:45] shtams commented on #277
ah, y
Utility.working_dir "vndsj/kvn/ds/j/n/v/d//ksjnvksdnvjk"

modules_config = [
    {
        "module": "renderer.RgbRenderer",
        "config": {
        }
    },
    {
        "module": "writer.ObjectStateWriter",
        "config": {
        }},
    {
        "module": "writer.LightStateWriter",
        "config": {
        }},
    {
        "module": "writer.CameraStateWriter",
        "conf

[2021-09-21 15:47] shtams commented on #277
ObjectStateWriter, LightStateWriter, CameraStateWriter
u can delete, it only for my need)))

[2021-09-21 15:47] shtams commented on #277
and for "module": "renderer.RgbRenderer"
set pls what u want

[2021-09-22 11:33] themasterlink commented on #277
I will close this now, as the problem is solved.

[2021-09-22 11:33] #277 closed

[2021-09-25 05:01] peppa114 opened #280 "Some errors occurred in the writer module"
In the process of using the writer module(BopWriter or Hdf5Writer), some errors occurred. It was able to run normally before, and this problem occurred after some configuration parameters were modified. I still have this kind of error after the parameter is changed back. I want to know how to solve it. Thanks.
![Screenshot from 2021-09-25 12-48-01](https://user-images.githubusercontent.com/8317125

[2021-09-27 07:18] ryanreadbooks opened #281 "Simulating sensor noise of the camera"
Hi, everyone!

I am wondering if there is a way to simulate the sensor noise of the camera in BlenderProc.
If BlenderProc can do this, then an extra image augmentation procedure to make the images and depth images more realistic is unnecessary.

Thanks a lot!!

[2021-09-27 08:12] cornerfarmer commented on #280
Hey @peppa114 ,

there is currently a known bug of writing jpeg images inside the blender environment. We plan to fix that in the next version.

But are you sure, you really need to write jpegs? In the end you use the hdf5 writer, so all images will be read in and written into .hdf5 files anyways. So changing the type of those images does not make too much difference, you just might get some compr

[2021-09-27 08:18] peppa114 commented on #280
I get it.Thanks.

[2021-09-27 08:27] cornerfarmer commented on #281
Hey @ryanreadbooks,

you can take a look at the [stereo_matching](https://github.com/DLR-RM/BlenderProc/tree/main/examples/advanced/stereo_matching) example which produces depth images based on stereo matching. So, if your real camera also produces depth images via stereo matching, then these synthetic depth images might be closer to the real ones.
We are currently working on making the produced d

[2021-09-27 08:52] ryanreadbooks commented on #281
Hey @cornerfarmer,

thank you for the quick reply, I will give it a try.

[2021-09-27 18:18] RaresAmbrus opened #282 "Exporting BSDF layers (roughness, metallic, etc.)"
Hi,
Thank you for creating and maintaining this excellent repo! I have a question that I hope you can help me with, or point me in the right direction. I would like to export various surface properties such as `roughness`, `metallic`, `specullar` etc. As far as I could tell that's not supported right now - I saw this issue https://github.com/DLR-RM/BlenderProc/issues/177 but wasn't sure if there w

[2021-09-28 05:41] themasterlink commented on #282
Hey,

first question would be do you want it per object or per pixel? Both should be possible just different approaches for each.

Best,
Max

[2021-09-28 05:46] RaresAmbrus commented on #282
Hi Max -- thanks for the quick response! Per-pixel makes would be ideal. Thanks!!

[2021-09-28 06:11] themasterlink commented on #282
Hey,

could then you are up for a ride :D I don't know how you guys manage to do this, but whenever someone open an issue, we are currently in the process of rewriting the class in question.

So, what you can do is you can use the SegMapRenderer. It allows you to write down custom properties in a pixel wise fashion.
You have now many options on achieving your goal, the most easy one would be to st

[2021-09-28 06:18] RaresAmbrus commented on #282
That's awesome, thanks a lot Max! I'll give this a shot first thing tomorrow morning! Thanks again!

[2021-09-28 06:25] themasterlink commented on #282
If you want to thank me tell you friends about BlenderProc ;)

I will close this for now, if you have a follow up you can reopen it. If it is a new question, you can just open a new issue.

[2021-09-28 06:26] #282 closed

[2021-09-28 07:44] #281 closed

[2021-09-30 10:41] RoyCLR commented on #14
Adding a little more info.

Upon running the given code, turns out the payload is a string representation of a python object containing the camera pose
[code]
[code]

To extract the data to a usable form:
[code]
[code]

[2021-10-02 14:38] matemato opened #283 "[BUG]:"Exception: There are more object colors than there are objects" error with scenes with sun glare."
Hello,

I found out that when using SegMapRenderer on scenes with sun glare, I get the following error:

*"Exception: There are more object colors than there are objects"*

Example of image with sun:

![rgb_0001](https://user-images.githubusercontent.com/47794629/135721001-dfb5cf99-ce88-42e3-9a64-119ff34f2846.png)

If I rotate my sky so that sun is not in the camera view, the error is gone.  Sun g

[2021-10-03 16:48] matemato commented on #283
Hey,

I've managed to fix my matplotlib to get closer to the solution... I have found out that for some reason sun is classified as its own object even though it's just part of the sky HDRI. It crates a lot of object ids even though the sun is not in itself an object.

Zoomed in picture of the sun from the picture below, where we can see it's taking a lot of object_ids.

![Segmap_sun](https://user

[2021-10-03 18:58] cornerfarmer commented on #283
Hey @matemato,

thanks for writing the detailed issue and providing all the files. It seems that setting a hdri as world background overwrites the color set in the segmentation renderer.
To fix that you just need to replace the `_set_world_background_color` method of `src/utility/SegMapRendererUtility.py` with:
[code]

This will now also disconnect any incoming link (e.q. from an hdri) to the colo

[2021-10-03 20:18] matemato commented on #283
Works now, thanks!

[2021-10-03 20:18] #283 closed

[2021-10-04 11:00] RMalikM opened #284 "[Question] How to get image coordinates for rendered vertices?"
Hi,
I have a 3d model from which I am manually selecting some of the vertices in the blender as shown in the image below.

![image](https://user-images.githubusercontent.com/53081324/135834010-26f380ce-6988-43ec-8214-d922b2365471.png)

Then I have exported the coordinates of the selected vertices in a text file.
Also, I am generating images for this model in BlenderProc with different camera angle

[2021-10-04 16:57] MartinSmeyer commented on #284
Hey @RMalikM

Check this out:
https://github.com/DLR-RM/BlenderProc/issues/134

[2021-10-04 20:24] zakharos opened #285 "Generating shadow maps"
Hi,
Thank you for this excellent repo! I am curious if there is a way to generate shadow maps using your pipeline. As I imagine it, the simplest way would be to render the scene with and without shadows and then compute the difference, which could be done by disabling the shadow ray visibility property for all scene objects. Could you please let me know what would be the easiest way to implement i

[2021-10-05 02:28] shtams opened #286 "We have BUG!!! , when we render SEGMENTATION , single run"
###
[code]
###

I understand that this bug is possible for several reasons, but I also understand that this is most likely a memory leak when using segmentation !!!
I have reason to think so!

traectory:
I have a scene with 12 models(for example, 12 CAN BECOME 5000), I turn on each of them when I need
change it models by blender bpy pipeline

I can provide an executable code if needed, but in fact

[2021-10-05 02:35] shtams commented on #286
for a machine with 16 gb, this is 27 frames; for a machine with 32 gb, this is 56 frames, a regularity

[2021-10-05 02:42] shtams commented on #286
main trubl , not?
OSError: Not enough free space to write 292626432 bytes

[2021-10-05 05:19] shtams commented on #286
im understood, its ur BUG)))

[2021-10-05 05:59] RMalikM commented on #284
Thanks @MartinSmeyer. I will check it.

[2021-10-05 06:00] themasterlink commented on #286
Hey,

could you provide more details, we have a bug template exactly for this reason. Could you please use it.

I will close this issue, so that you can use our bug template.

Best regards,
Max

[2021-10-05 06:00] #286 closed

[2021-10-05 06:18] themasterlink commented on #285
Hey,

the question is do you want the shadow visibility in the final image of your scene or do you want it on the textures of the objects?

For the final scene you could use the `Shadow` output of the blender pipeline. You can do something similar as done here:

https://github.com/DLR-RM/BlenderProc/blob/d15dba7d69c9374779c70766d3500a1c0c6e4745/src/utility/RendererUtility.py#L274

Just for the sha

[2021-10-05 14:15] domef opened #288 "[BUG] Error when using nested properties in EntityManipulator"
**Describe the bug**
I get an error when using the nested property `cycles/is_shadow_catcher` in EntityManipulator. Am I accesing the property in the wrong way? Is it possible to edit this property?

**General Information**
1. Which BlenderProc verison are you using?
I'm using the latest version, 1.12.0.

2. On which operating system are you?
I'm using Ubuntu 18.04.

3. Have you checked the issue

[2021-10-05 14:47] themasterlink commented on #288
Hey,

first of all thank you for using our bug template. You want to access a nested property, sadly the EntityManipulator does not support that. To be honest you are the first person who tried that properly :D

So, but we have a solution for you. We recommend using the python API, there it is super easy to just set this value:

[code]

Starting with BlenderProc2 this should be the right way of ap

[2021-10-05 14:48] themasterlink commented on #288
PS: For everyone else we won't add nested properties to the `EntityManipulator` as it is already outdated and with BlenderProc2 it won't be useful anymore.

[2021-10-05 15:33] domef commented on #288
Thank you very much for the usefull and super fast answer.

Actually I ended up with a slightly different solution. I added this two blocks in EntityManipulator:
[code]

[code]

with this configuration:
[code]

I did this since when I tried your solution it throwed me another error:
[code]

[2021-10-05 15:37] themasterlink commented on #288
I think you have to do it as I suggested, I don't think the custom functions can take only one value, they have to get a dictionary.

[code]
[code]

That should work, please tell me if it doesn't.

Best,
Max

[2021-10-05 15:51] domef commented on #288
I changed the solution a little bit:
[code]
lke you said, and also added this in `def _get_the_set_params(self, params_conf)`  to make it work:
[code]
but the configuration that I use is always this:
[code]

Moreover I checked other configuration examples and there are other custom functions that takes a single value as input like this one:
https://github.com/DLR-RM/BlenderProc/blob/d15dba7d69c937

[2021-10-05 17:03] themasterlink commented on #288
Ah, sorry. Yes, you are right! I forgot to add it in `_get_the_set_params`. I am glad we are not using this Module anymore, far too complicated :D

I will close this issue then.

[2021-10-05 17:03] #288 closed

[2021-10-06 06:40] themasterlink commented on #285
Hey @zakharos,

if you want to thank us, tell your friends about BlenderProc ;)

Best,
Max

[2021-10-07 11:47] Marselias opened #289 "[Question] Randomized Dataset"
Hi,
first of all, thank You for great repo.

I want to create a dataset from my custom objects for instance segmentation. I have models in the .obj format.
Is it possible to randomly sample from all objects and load them?
I have found `src.loader.BopLoaderModule module` but from `model type` description  i assume that only _reconst, cad or eval_ extensions can be loaded.

Best regards

[2021-10-07 11:53] themasterlink commented on #289
Hey,

this is possible. You could try the following:

[code]

This will load a random obj in the examples folder. If you want to have more than one, you can use the

[code]

I hope this helps.

Best,
Max

[2021-10-07 14:43] themasterlink commented on #289
Hey,

you could use the instance renderer. And also save the name, instead of the class id. That way you don't have to assign category_ids. (without class here:)

https://github.com/DLR-RM/BlenderProc/blob/d15dba7d69c9374779c70766d3500a1c0c6e4745/src/renderer/SegMapRenderer.py#L55-L57

If you want to use category ids, there is no better way, than the way you showed. You can always write a module t

[2021-10-08 09:49] shtams opened #290 "How can i set "category_id" for semantic segmentation, if new objects are created?"
Hi authors!!!

its default for scene loaded...(for semantic segmentation)
[code]

how can I set this for objects that are created in the scene after BlendLoader.load (args.scene)?

[2021-10-08 09:55] shtams commented on #290
it goes something like this:

[code]

[2021-10-08 09:59] themasterlink commented on #284
I assume this answered your question. I will close this for now.

Bets,
Max

[2021-10-08 09:59] #284 closed, assigned to MartinSmeyer

[2021-10-08 10:00] #264 closed

[2021-10-08 10:19] #290 closed, assigned to themasterlink

[2021-10-08 10:23] shtams commented on #290
it's not your fault!
here it is possible yours:
https://github.com/DLR-RM/BlenderProc/issues/286

will be free time, I will describe!

[2021-10-08 10:23] shtams commented on #290
Thanks!

[2021-10-08 23:17] RaresAmbrus opened #291 "Segmentation mask object boundaries and depth map bleeding"
Dear BlenderProc team,
Thank you again for this awesome codebase. I was running the semantic segmentation [example](https://github.com/DLR-RM/BlenderProc/blob/main/examples/basics/semantic_segmentation/README.md) and while visualizing the results I noticed some slight inconsistencies on the boundaries of the instance / class masks. I superimposed the generated RGB image and the class mask, and by

[2021-10-09 10:06] themasterlink commented on #291
Hey @RaresAmbrus,

I just wanted to say what a perfect representation for your issue!

Just one last thing, the depth on a pixel which is on an edge is not obvious except you assume the camera only measures directly at the middle of the pixel, which most cameras don't. So in real life you will have the same bleeding as you have it here, which we deemed more realistic. As several depth values insid

[2021-10-09 13:10] melba404 opened #292 "[BUG]: Blender is downloaded on each execution of run.py and the second installation breaks the program"
**Describe the bug**
Blender is not only downloaded and installed when first executing run.py but instead during every execution of the script. Additionally, the second execution terminates after several errors of the type `ImportError: cannot import name 'InvalidSchemeCombination' from 'pip._internal.exceptions'`.

**General Information**
1. Which BlenderProc verison are you using?

- Version 1.1

[2021-10-10 22:25] melba404 opened #293 "How do I match the light power / energy from Blender?"
I want an approximate model of an LED I use. According to the data sheet its typical light output is 95 lumens which I converted to roughly 140 mW (683 lm/W at 540 nm). The goal was to have an appropriate reference value which can than be the center point of some randomization. Since I couldn't figure out how to configure an area light (shape and size) using the config file, I used a point light i

[2021-10-11 04:56] RaresAmbrus commented on #291
Thank you Max for the answer! The image formation process makes sense, as does the aim of making it resemble real imaging pipelines. Out purpose is to train a network learns to predict material properties for each object, and so the separation between each object and the background is important. More than the final image, what's also important for us are the material properties as well as the diff

[2021-10-11 07:08] RaresAmbrus commented on #291
Sounds good - I'll give that a shot! Thanks again, really awesome codebase & support :-)

[2021-10-11 07:08] #291 closed, assigned to cornerfarmer

[2021-10-11 09:40] melba404 commented on #293
Hey,

sure! I don't have permission to share the complete blend file I used but I isolated the part that's relevant for the scene.
[BlenderProc_Issue293.zip](https://github.com/DLR-RM/BlenderProc/files/7321283/BlenderProc_Issue293.zip)
The first file uses unit scale 1 the second 0.001.
The config file I used for the scene with scale 1:
[code]
With camera position `0.030067 0.017848 -0.005515  1.08

[2021-10-11 13:38] Lotfi-MERAD opened #294 "how to proceed to change the scene automatically according to the size of the objects"
Hi,
first of all, thank You for great work and  repo.

I have configured my scene and I have loaded my objects it works very well, but it only works with small objects, when I load larger objects the objects come out of the scene and the camera can't see them, is there a way to make it automatic, like when I load different size objects, I'm sure my camera sees them all at the same time ?

my confi

[2021-10-12 06:37] themasterlink commented on #293
Hey

One question I have is that the only used light you have here?

Because then I would even set the background to black:

[code]

I think the main problem is that blenders internal camera parameter are different:

https://blenderartists.org/t/physically-correct-lighting/1163892/6

So, if you really want an accurate simulation of the light strength, you can check out if this addon can you help y

[2021-10-14 05:26] themasterlink commented on #220
The ikea dataset is still down, we added that information to the documentation.

We will keep looking for new datasets to replace it.

I will close this issue for now.

[2021-10-14 05:26] #220 closed

[2021-10-14 05:26] themasterlink commented on #234
This should be fixed with BlenderProc 2.0.0.

[2021-10-14 05:26] #256 closed

[2021-10-14 05:26] #266 closed

[2021-10-14 05:27] #280 closed

[2021-10-14 05:29] themasterlink commented on #289
Hey,

sorry for the late reply, BlenderProc2 took all over our time.

I have trouble understanding this sentence. I would recommend you checkout BlenderProc2 I am sure what you are trying to do will be super easy there.

Best,
Max

[2021-10-14 05:29] themasterlink commented on #293
Great, I will close this for now.

[2021-10-14 05:29] #293 closed

[2021-10-14 05:30] #294 closed

[2021-10-14 09:43] domef opened #297 "[BUG]: Error when trying to load light from blend file"
**Describe the bug**
When I try to load lights from a .blend file I get an error.

**General Information**
1. Which BlenderProc verison are you using?
I am using the latest version 2.0.0a6.

2. On which operating system are you?
I am using Ubuntu 18.04.

3. Have you checked the issue tracker to see if a similar issue has been opened?
Yes.

4. Have you changed BlenderProc in anyway besides the conf

[2021-10-15 08:29] themasterlink commented on #297
This was merged and is in integrated in 2.0.0a7.

[2021-10-15 08:29] #297 closed

[2021-10-16 06:30] etienne87 opened #298 "[BUG]: Blenderproc as no attribute "init""
**Describe the bug**
A clear and concise description of what the bug is.

**General Information**
1. Which BlenderProc verison are you using? **2.0.0a7**

2. On which operating system are you? **ubuntu-18.04**

3. Have you checked the issue tracker to see if a similar issue has been opened? **[yes](https://github.com/DLR-RM/BlenderProc/issues?q=is%3Aissue+is%3Aclosed+blenderproc+has+no+attribute+i

[2021-10-16 07:12] MartinSmeyer commented on #298
Hi Etienne,

BlenderProc needs to be run within Blender's own python environment. You cannot directly call blenderproc with your system python. Instead use

`blenderproc run <your_blenderproc_script.py>`

This is documented, but we should add another warning in the init fct.

[2021-10-16 07:14] etienne87 commented on #298
ah ok, thanks for that!

[2021-10-16 07:14] #298 closed, assigned to nobody

[2021-10-16 19:35] Pondiniii opened #299 "[Question] How to list mesh elements by name (not by memory address)?"
Hello,
This is probably a stupid question, but I'm a python beginner. I want to hide mesh element from .blend file by name like "plane" in python code. I tried using function bproc.python.types.MeshObjectUtility.get_all_mesh_objects() to list all elements, but it returns list of objects in memory addresses. How to convert memory addresses to "human readable" text?

`#hide object`
`# I want here to

[2021-10-17 11:39] MohmadAyman commented on #299
Don't worry, it is not very straightforward to get the name of the object :wink:

So the `get_all_mesh_objects()` is implemented in `MeshObjectUtility`, it uses `convert_to_meshes()` to cast the blender `bpy.types.Object`s into our custom type `MeshObject` before returning the list.

`MeshObject` is derived from `Entity` which is derived from `Struct` which sets the `blender_obj` during the constr

[2021-10-17 11:47] themasterlink commented on #299
Hey,

That is one way, but we highly discourage you from using the `blender_obj`. The `Struct` class provides a nice function called `get_name()`, please use this one:

[code]

The `blender_obj` is only a link to the internal blender object and should only be used if you know what you are doing. It can be invalided during the execution so please don't use it.

I hope this helps.

Best,
Max

[2021-10-17 12:08] Pondiniii commented on #299
Thank you very, very much for your time and help.
Problem solved!

[2021-10-17 12:08] #299 closed

[2021-10-21 07:20] Guo-Ling opened #300 "BUG: Jpeg image writing"
Hey @peppa114 ,

there is currently a known bug of writing jpeg images inside the blender environment. We plan to fix that in the next version.

But are you sure, you really need to write jpegs? In the end you use the hdf5 writer, so all images will be read in and written into .hdf5 files anyways. So changing the type of those images does not make too much difference, you just might get some compr

[2021-10-21 08:00] Guo-Ling commented on #300
Hi,
    However, after I delete the "image_type" field in config, blender also deletes and downloads again. Some examples (including the bopwriter module) are run in the new version, and the previous error will still appear. So I'm not sure if there are some caches in the system that make the modification ineffective.

[2021-10-21 09:06] Guo-Ling commented on #300
Hi, my config file is as follows, because this debug is not triggered by me. When I return it to the normal configuration, I find that the module cannot be used.

![Screenshot from 2021-10-21 17-00-00](https://user-images.githubusercontent.com/68894649/138246847-8dc8bc90-b06a-4f0b-8cb2-c96222f7f026.png)
The following is the error message,
![Screenshot from 2021-10-21 17-00-19](https://user-images.

[2021-10-21 09:27] cornerfarmer commented on #300
I do not understand what you mean by that.
So does the `camera_object_pose` work on your machine or not?

Also on your screenshot there is no `"image_type": "JPEG"`. So does the error also occur even without using jpegs?

[2021-10-21 09:52] cornerfarmer commented on #300
Ok, this is strange. This sounds like an error specific to your system.
Did you already try to reinstall blender? (Remove `/home/<user>/blender` and run BlenderProc again)

If the error still persists, can you maybe try to further determine where the error is thrown? Maybe by adding a few prints into `blenderproc/python/writer/BopWriterUtility.py`?

[2021-10-21 17:39] timovr-dev opened #301 "Blenderproc2 how to change the color of a certain bsdf node in the shader graph"
Hey,
first of all thank you for Blenderproc it's an awesome tool so far!

I couldn't figure out one thing:
I load a blend file with the blend file loader and try to edit values of a node in the shader graph of a material.

I would like to change to "color" RGB values for a Diffuse BSDF and a Glossy BSDF node of a material with the name "yellow_3d_printed_material".

![image](https://user-images.gi

[2021-10-21 20:43] AminSeffo opened #302 "[Question]: How to label multiple parts from .obj using CocoAnnotationsWriter?"
Hello together,

many thanks in advance for the BlenderProc team for this powerful tool.
I am facing problems while adding more than one label to **scene.obj** file. Firstly I thought I can follow the solution described in https://github.com/DLR-RM/BlenderProc/issues/81 but I don't even know the names of the **scene.obj** Meshes. Blender shows after import the module with this extension quite diff

[2021-10-22 06:43] #301 closed, assigned to themasterlink

[2021-10-22 14:57] #302 closed, assigned to cornerfarmer

[2021-10-23 19:34] andrei91ro opened #304 "[BUG]: Dataset generation hangs at "It took 1 tries to place OBJECT_NAME""
**Describe the bug**
When trying to repeatedly generate a dataset (dataset append = on), at some point Blenderproc halts with the message `It took 1 tries to place tag`.
I am rendering a single simple object (named tag) with no background, obstacles or other complexities.

**General Information**
1. Which BlenderProc verison are you using?
I cloned the github repo commit (c8183b3aa48a2278ff90e9ee8

[2021-10-24 20:53] #304 closed, assigned to cornerfarmer

[2021-10-25 05:51] njfugit opened #305 "Is it feasible to use bopwriter to obtain the pose of the model in shapenet dataset"
Ｈi，
I intend to use the bopwriter to obtain the pose of the model in the shapenet dataset, so I modified main.py.py under the shapenet according to the example in "camera_object_pose".
However, I encountered the following error, missing the "category_id" attribute, but I have set it when loading the model. I want to know how to solve it. Thank you.
![1_2](https://user-images.githubusercontent.com/

[2021-10-25 11:53] #305 closed, assigned to cornerfarmer

[2021-10-26 11:17] alessiocaporali opened #306 "[Question] Adding basic plane in the scene"
Hi,
I am trying to move to Blenderproc2 but I am struggling to build a basic plane in the scene.
My old config file looks like this:

[code]
How can I replicate the same behavior in the new API?
Thanks!

[2021-10-26 13:06] njfugit opened #307 "About how to change the coordinate system"
Hi,
I imported some models from the shapenet dataset in blender. It is found that the local object coordinate system and world coordinate system in blender are right-handed coordinate systems, as shown in the following figure:
![111](https://user-images.githubusercontent.com/28702691/138882801-7d7a8fa9-dc47-4183-b138-93e99a2c940c.png)
But now I encounter some specific needs. I need to obtain the c

[2021-10-26 13:42] #306 closed, assigned to MartinSmeyer

[2021-10-26 14:40] #307 closed, assigned to MartinSmeyer

[2021-10-27 10:20] MartinSmeyer opened #308 "[FEATURE]: Add cla-bot"
Add cla-bot to check whether contributors have signed cla.

[2021-10-27 11:23] #308 closed, assigned to nobody

[2021-10-30 04:54] njfugit opened #310 "Some questions about the coordinate system"
Hi,
I'm sorry to bother you again.I found a strange phenomenon after revising according to your suggestion.
In the debug mode, my scene content and coordinate system are shown in the following figure:
Because of the problem of coordinate system, I can't show the front scene well (consistent with the scene I first sent in this problem).
![t1](https://user-images.githubusercontent.com/28702691/13908

[2021-11-01 15:23] saraao opened #311 "[BUG]: Example 'Random Room Constructor' links unavailable"
Hi,

First, thank you for your great work!

I am trying to run the 'Random Room Constructor' example, but it seems its links to 'script' and 'Ikea example' are currently unavailable(404).

[2021-11-01 17:00] mayman99 commented on #311
Yeah ikea's mit project page has been down for a while, as far as I know,
A hack you could do for now is use another dataset, so in the [RRC example](https://github.com/DLR-RM/BlenderProc/tree/main/examples/advanced/random_room_constructor) replace the ikea loader with another, or example the shapenet loader.
https://github.com/DLR-RM/BlenderProc/blob/57ae6058ddcd15ced6495c86af85efc2f3674685/examp

[2021-11-01 21:20] Jing-lun commented on #4
@themasterlink Hi Max, thanks for your great work! I am trying to generate stereo RGB images via BlenderProf4BOP, for example, generating a YCBV stereo dataset. However, when I setup config_ycbv_random.yaml as:
`{
      "module": "renderer.RgbRenderer",
      "config": {
        "samples": 50,
        "render_distance": True,
        "render_normals": True,
        "stereo": True,
        "image_t

[2021-11-02 07:57] themasterlink commented on #4
Hey @Jing-lun,

Could you open a new issue? The jpeg bug will be fixed in the upcoming days, so maybe try it with PNG instead of JPEG for now.

Please follow the bug report guidelines ;)

Best,
Max

[2021-11-02 08:00] themasterlink commented on #311
Hey,

we already got into contact with the people from the ikea dataset, but they have not responded to our e-mails. It seems this dataset is not longer available. We will restructure this example and maybe move to [ABO](https://amazon-berkeley-objects.s3.amazonaws.com/index.html).

As mayman99 already suggested, I would recommend using shapenet for now. Else you can always try Pix3D.

Similar to

[2021-11-02 08:14] MartinSmeyer commented on #310
I think the user perspective is by design always depicting a right-handed coordinate system. However, it's irrelevant since you will be rendering from camera perspective where left-hand coordinate systems are possible. As previously mentioned, I would still not recommend using left-hand coordinate systems as some other Blender functions might depend on the right-hand system (such as the user persp

[2021-11-02 13:18] Jing-lun commented on #4
Thank you Max,

Let me create a new issue!

BR/Jinglun

[2021-11-02 14:35] Jing-lun opened #312 "[BUG]:Stereo BOP Writer for BOP Format Stereo Images Generation"
Request a BOPStereoWriter for stereo images generation with BOP format.

Hi @themasterlink Max, I'm using BlenderProc4BOP to generate stereo images with BOP format.
More specifically, I intended to generate some YCBV stereo images using `config_ycbv_random.yaml`
Below are what I modified in this yaml file.
`    {
      "module": "renderer.RgbRenderer",
      "config": {
        "samples": 50,

[2021-11-02 17:27] alexander-soare opened #313 "[BUG]: Native Python imports not working"
I'm running into issues when running the `bproc.init()` in the quickstart example. I've tried this on two different environments: On my virtual environment I get `ModuleNotFoundError: No module named 'pip._vendor.retrying'` and on my global environment I get `ModuleNotFoundError: No module named 'pip._vendor.retrying'`.

From this [SO thread](https://stackoverflow.com/questions/55833509/attributee

[2021-11-02 18:43] themasterlink commented on #313
Hey,

it seems that you are using your own python environment, we really have to include a warning there. You have to use `blenderproc run` to start your script:

[code]

 Do not call:

[code]

 If you insist on using your own python environment use the run script before it:

[code]

 Does this solve your problem?

 Best,
 Max

[2021-11-02 18:53] alexander-soare commented on #313
Actually it doesn't.  Makes sense for you to guess that, but I indeed did
use the blenderproc command.

On Tue, 2 Nov 2021, 18:44 Maximilian Denninger, ***@***.***>
wrote:

[2021-11-02 18:54] alexander-soare commented on #313
Afk right now but will check again next chance, incase I'm  having some
random amnesia

On Tue, 2 Nov 2021, 18:53 Alexander Soare, ***@***.***>
wrote:

[2021-11-03 04:29] njfugit commented on #310
Okay, thank you.

[2021-11-03 04:29] #310 closed

[2021-11-03 09:06] MartinSmeyer commented on #312
Hi @Jing-lun,

First, the BOP format is originally used for RGB-D datasets of the BOP challenge. It needs to be compatible with the [bop_toolkit](https://github.com/thodan/bop_toolkit) so we can not just change it. This doesn't mean that the BOP format will never support stereo datasets.

However, if you are okay with saving only the left RGB / GT and depth information from the StereoGlobalMatchin

[2021-11-03 14:33] #312 closed

[2021-11-03 14:35] themasterlink commented on #311
I will close this for now

[2021-11-03 14:35] #311 closed

[2021-11-03 15:02] Jing-lun commented on #312
Thank you for your instructions and help!
I have modified BOPWriter and some other files to let it save stereo RGB/Depth images and the GT corresponding to the left camera.

[2021-11-05 22:03] jiaming3 opened #315 "[question] missing mask for BOP format"
Hi,
first of all, thank You for the excellent repo.

I am running the config_lm_upright.yaml which is the BOP challenge example. I ran the code in colab and the generated BOP format result that includes the depth, RGB, scence_camera.json, and scene_gt.json. However, the mask and mask_visib for each instance are missing. How can I generate the BOP format dataset also include them?
![image](https://

[2021-11-05 23:11] MartinSmeyer commented on #315
Have a look here #58

[2021-11-05 23:11] #315 closed

[2021-11-06 09:21] njfugit opened #316 "How to extract the "class_segmaps" image in the hdf5 file separately"
Hi,
I used "bproc.writer.write_hdf5(args.output_dir, data)" to generate the rendered image of the instance segmentation. I want to output and save each image in the .hdf5 file separately. I read one of the images. But the output is similar to a grayscale image. I would like to know if there is any simple way to output it as a color picture alone.

I use the following code to read the .hdf5 file:
!

[2021-11-06 10:03] themasterlink commented on #316
Hey,

you can just use the visualization script:

[code]

If you know how that is done internally check the visualization script.

Best,
Max

[2021-11-06 10:12] njfugit commented on #316
Thanks

[2021-11-06 10:15] #316 closed

[2021-11-07 20:19] timovr-dev opened #317 "[Question] Texture image scaling"
I tried to follow your "Material manipulation" tutorial ([This tutorial](https://dlr-rm.github.io/BlenderProc/examples/basics/material_manipulation/README.html)) But I think I'm missing something important.

This is the texture that I want:
![image](https://user-images.githubusercontent.com/67631060/140659951-a7dc498a-2f6c-4843-a3a1-cb5fb02c90e5.png)

on the object (rectangle) they appear like thi

[2021-11-08 09:26] themasterlink commented on #317
Hey,

you only use the displacement not the texture scaling, these are not the same thing. One changes the effect of the displacement how strong the effect is while rendering and the other one changes the size of the texture.

If you want to change the size of the texture on the object, you have to scale up or down the UV coordinates.

We currently don't have a function to do UV scaling, but we ha

[2021-11-08 11:19] timovr-dev commented on #317
It works!! Thank you so much!

[2021-11-08 11:19] #317 closed

[2021-11-09 09:25] youngestuser opened #318 "[question]:can't use in windows?"
I did as the installation of README.md in windows. But the quickstart example can't run while using  'blenderproc run quickstart.py'. It seems the blender isn't automatically installed.

[2021-11-09 09:29] themasterlink commented on #318
Hey,

could you please follow the template guideline, for reporting a bug. This would make it so much easier for us to help you.

I will close this so that you can follow the template.

Best,
Max

[2021-11-09 09:29] #318 closed

[2021-11-09 17:36] philenius opened #319 "Question: how to set "Metallic", "Roughness", and "Normal" of Principled BSDF shader?"
I'm trying to figure out how to set the textures for Metallic, Roughness, and Normal of the Principled BSDF shader. I've read your example  [_Material selection and manipulation_](https://github.com/DLR-RM/BlenderProc/blob/main/examples/basics/material_manipulation/README.md) and got this far:

[code]

The resulting images look acceptable. Example image:

| BlenderProc2 | How it should look |
| --

[2021-11-09 18:30] philenius commented on #319
I was literally spending half a day on finding a solution and now I got it. Sorry for asking in the first place.

This is how you can use the API of BlenderProc2 to
1. add a `Normal Map` node and connect it to the Normal texture and the BSDF
2. set the `Color Space` to `Non-Color`

[code]

[2021-11-09 18:35] cornerfarmer commented on #319
Hey @philenius,

nice that you found the correct solution yourself :+1:
Also, thanks for sharing it here!

[2021-11-09 18:35] #319 closed

[2021-11-10 10:27] mikkelmedm opened #320 "Equivalent of output_is_temp for RGB and Segmentation renders?"
Thanks so much for this amazing project!!

Trying to implement the Pythonic changes to BlenderProc2, for our pipeline we used to use the `output_is_temp=False` parameter for images and segmentation map renders. This would save .png images and .npy files directly instead of having to use a specific Writer to save it in some format. This was followed by a customWriter, where we could save our annota

[2021-11-10 11:52] cornerfarmer commented on #320
Hey @mikkelmedm,

with the new API you are actually quite free of how you save the generated data:
So lets assume you call the renderer in the following way:
[code]

Now `data` is simply a dict, where each value is a list of numpy arrays. Each of these numpy arrays stores the pixels of one frame.

So, e.q. if you want to write the color images into .png files, this can be done via:
[code]

Dependi

[2021-11-10 11:58] mikkelmedm commented on #320
Hi @cornerfarmer

Thanks! That is exactly what I was looking for. :)

Another question though: trying to modify some scripts, the changes doesn't seem to apply when running the code (e.g. `blenderproc run test/main.py`). It seems it is still running "old" code, and not the new changes I made. Should I reload modules somewhere, or how can I remedy this?

[2021-11-10 12:02] alexander-soare commented on #313
@themasterlink this issue is now sorted. Blender shipped with python3.9 but I was on python3.8. I had to install 3.9 and make it my default.

[2021-11-10 12:09] cornerfarmer commented on #320
Hey @mikkelmedm,

we have not experienced something like that before. Usually the changes should be taken into account instantly.
Can you give a reproducible example?

[2021-11-10 12:14] mikkelmedm commented on #320
[code]

So with `load_blend()` I am trying to load objects from a scene.blend file (19 objects). However changing the print-statement in `blenderproc/python/loader/BlendLoader.py` does not produce any print statements. It simply prints print ("Selected" + str(len(loaded_objects)) + " of the loaded objects by type"), instead of the changes: print("**Sasfcted** " + str(len(loaded_objects)) + " of th

[2021-11-10 12:18] mikkelmedm commented on #320
Even if I rename the BlendLoader.py script to something else, it still runs the "old" code

[2021-11-10 12:19] cornerfarmer commented on #320
Hey @mikkelmedm,

are you sure, you do not have another blenderproc instance installed on you system which is run instead (maybe in your site-packages)? To make sure you run your local blenderproc instance, you can also call `python3 blenderproc/command_line.py run  test/main.py`

[2021-11-10 12:22] mikkelmedm commented on #320
Omg of course. Was running the wrong instance.
Thanks for clearing that up!

Have a great day :)

[2021-11-10 12:28] mikkelmedm commented on #320
Maybe closed this too soon..
How do I uninstall the previous version, or point to the new one?

[2021-11-10 12:32] cornerfarmer commented on #320
Depends on how you installed the other instance. Try to run `pip3 uninstall blenderproc` until no instance is found anymore, then reinstall the one you actually want to use.

[2021-11-10 12:36] mikkelmedm commented on #320
Thanks for your time @cornerfarmer

Had installed it by `pip install blenderproc` after cloning the repo. So exactly as you said it was running the code in site-packages.
Did `pip uninstall blenderproc` and then in the blenderproc folder `pip install -e .`

[2021-11-10 12:36] #320 closed

[2021-11-10 14:08] AminSeffo opened #321 "[Question]: Edit save path of write_coco_annotations"
Hello together,

I want to change the saving path  _/output/coco_data/_ without the images folder and save all rendered images and their annotation file in _coco_data_ just like BlenderProc 1.2.

Can I add a flag here to remove this folder?
[code]
Thanks in advance

[2021-11-10 14:35] cornerfarmer commented on #321
If its about removing separate `images/` folder, you would need to adjust the code of the [CocoWriterUtility](https://github.com/DLR-RM/BlenderProc/blob/main/blenderproc/python/writer/CocoWriterUtility.py) :

Change line 61 to
[code]

and remove the `images/` prefix from lines 127 and 131.

Alternatively, you could leave the CocoWriterUtility as it is and add python code afterwards in your main.py

[2021-11-10 15:36] AminSeffo commented on #321
Hey @cornerfarmer
yes thank you very much, that is exactly what I want.

[2021-11-10 15:36] #321 closed

[2021-11-10 22:52] jiaming3 opened #322 "[QUESTION] how to generate NOCS map"
Hi,
Thank You for great repo.I am trying to generate my own CAMERA dataset using this excellent tool. I would generate a BOP format dataset. However, I do not know how to generate NOCS(Normalized Object Coordinate Space) using blenderproc library. The example code for generating NOCS is given in https://github.com/hughw19/NOCS_CVPR2019/blob/master/nocs_map_cube.py.  Would you please give some advi

[2021-11-11 11:02] cornerfarmer commented on #322
Hey @jiaming3,

currently no NOCS renderer is integrated in BlenderProc, however, I quickly put one together based on the offical NOCS code, which you can download here:
[NOCSRendererUtility.py.zip](https://github.com/DLR-RM/BlenderProc/files/7519839/NOCSRendererUtility.py.zip)

Put the file into `blenderproc/python/renderer` and add the following line to `blenderproc/api/renderer/__init__.py`:
[c

[2021-11-11 11:02] masaaldosey opened #323 "[QUESTION]: place an object on another"
hi,

i am trying to curate a dataset for surface imperfections. as a toy example, i would like to create defects on a gear. i have modeled my defect (a crack) and the gear separately in Blender. now, via BlenderProc, i would like to:

1. randomly translate the defect object (crack) to an arbitrary point on the closest face of the object (gear) and,
2. apply the Boolean difference with the object m

[2021-11-11 12:34] themasterlink commented on #323
Hey,

of course this is possible. I don't know how easy the first part is, that depends on how realistic the surface sampling has to be.

BlenderProc is built on top of the blender API. That means that you can just the blender API for your task, I would get inspired by this:

We first calculate the total size of the faces of the object in this instance of the floor, in your case of your gear.

htt

[2021-11-11 17:56] jiaming3 commented on #204
@jingweirobot Hi, I was facing the same issue. I have my own 3D model that converts to obj file. Would you tell me how you change some functions in boploader.ply so it can directly import obj file?

[2021-11-12 12:13] tparisotto opened #324 "[BUG]: Render does not save image when using output_dir argument"
Hi, first of all thanks for the amazing work!

I edited the `quickstart.py` script to save the rendered image in a folder, so the function becomes:
[code]
Even though the output correctly states
[code]
The `output` folder is created but the file is nowhere to be found.

[2021-11-12 12:58] themasterlink commented on #324
Hey,

this is a relikt of the past. So, you have several options now, you either can load the data directly after rendering, which is done automatically, then the data is stored in the `data` variable you already created here.

Or you can use the internal blender mechanism to save the file directly (not recommended), for that you would need to set `return_data=False` in the `render` call. As, the

[2021-11-12 13:38] tparisotto commented on #324
Thanks for the reply!

I will use the hdf5 containers then, if that's the suggested approach.

[2021-11-12 13:38] #324 closed

[2021-11-13 18:39] Me817 opened #325 "3D objects hover after physics simulation"
Hello,

we are using the physics simulation to place the objects on a desk. They all have "CONVEX_HULL" as collision shape except the desk which uses "MESH" as collision shape, like in your tutorial. Sometimes the objects are perfectly placed on the desk as you can see in the first image.
![MicrosoftTeams-image](https://user-images.githubusercontent.com/56630682/141653752-e40f7590-0d11-4210-b985-0

[2021-11-14 09:45] themasterlink commented on #325
Hey,

this is typical for the default physics example, this annoyed us, too. That's why we integrated V-HACD, we even haven an example:

https://github.com/DLR-RM/BlenderProc/tree/main/examples/advanced/physics_convex_decomposition

On Ubuntu 20.04 this should work out of the box without any changes needed, so give it a try and tell me if you still have the same problems.

PS: I would decompose al

[2021-11-14 12:43] Me817 commented on #325
Hey,

thank you for the quick reply. We have tried to adjust our script to use the V-HACD but we always run into the following error:
![Errormessage](https://user-images.githubusercontent.com/56630682/141681297-0bb06942-124a-40cd-9193-a8bcec5bfaa5.jpg)
We use the blender loader to load the objects. Why does this not work? Why can't the testVHACD-file be found? In my bin-directory I have the folder

[2021-11-14 13:54] themasterlink commented on #325
Hey,

could you tell me if you could run the physics convex decomposition example?

https://github.com/DLR-RM/BlenderProc/tree/main/examples/advanced/physics_convex_decomposition

Please print the command and the full output of the script.

Best,
Max

[2021-11-14 16:59] cornerfarmer commented on #325
Hey @Me817,

it seems that the `build_linux.sh` script for vhacd was not included in the pip package.
I therefore created a new version `2.0.0a8` that should now contain the missing file.
So please update your blenderproc package:
[code]

And remove your local vhacd folder:
[code]

Now in the next run, vhacd should compile correctly.

[2021-11-14 17:37] Me817 commented on #325
Hey @themasterlink, I tried to run the physics convex decomposition example but I did not found the appropriate ShapeNetCore.v2 dataset. I tried it with the Objectloader instead of the ShapeNetLoader but it does not work because the list is an unhashable type:
![Errormessage_vhacd](https://user-images.githubusercontent.com/56630682/141691598-f57c26d0-e436-440c-a1a8-0ed2100ace42.PNG)

@cornerfarmer

[2021-11-14 17:57] Me817 commented on #325
Hey @cornerfarmer,

I updated my blenderproc package and removed my local vhacd folder as you said. But I still get an error running my script (but it is a new error). You can see the error in the image below:
![Errormessage_vhacd2](https://user-images.githubusercontent.com/56630682/141692544-bb2e7606-d186-46b0-a1c4-0d7bd8154c22.PNG)
How can I solve this?

Thanks in advance.
Best,
Me817

[2021-11-14 18:00] cornerfarmer commented on #325
It seems that you don't have cmake installed on your machine:
[code]
After installing it, try again

[2021-11-14 18:51] Me817 commented on #325
@cornerfarmer I installed cmake and it works. Thank you.

We could now generate images but the objects are still hovering above the desk and some objects "fly". As you can see in the image below:
![MicrosoftTeams-image](https://user-images.githubusercontent.com/56630682/141694024-598bcea0-7625-448e-a002-0366de8bdff7.png)
Additionally to the `collision_shape = "COMPOUND"` we set the `collision_marg

[2021-11-14 19:38] heilaw opened #326 "[BUG]: bproc.camera.visible_objects may add None to Struct.__refs__ and break bproc.renderer.render_segmap"
**Describe the bug**
`hit_object` returned by `bpy.context.scene.ray_cast` in https://github.com/DLR-RM/BlenderProc/blob/5407f3c843a8b1444ee24137e67cad53aee4c619/blenderproc/python/camera/CameraValidation.py#L151 may be `None` and added to `Struct.__refs__` in https://github.com/DLR-RM/BlenderProc/blob/5407f3c843a8b1444ee24137e67cad53aee4c619/blenderproc/python/camera/CameraValidation.py#L153 as t

[2021-11-15 09:40] cornerfarmer commented on #325
Hey @Me817,

regarding the flying object: Here it is hard to say what the reason is without knowing the object mesh. Maybe the convex decomposition went bad for that particular object. Have you run BlenderProc in debug mode and looked at the collision shape of  the flying object?

regarding the hovering objects: Next to setting the collision_margin of the COMPOUND element, you would also need to s

[2021-11-15 11:31] alexander-soare opened #328 "[FEATURE]: Add optional prefix to image names in CocoWriterUtility"
**Is your feature request related to a problem? Please describe.**

When taking multiple camera views of a single scene I need a way to know that the images all came from the same scene. This is for doing a proper group k-fold split to minimize train to val set leakage.

**Describe the solution you'd like**
There should be a way to specify a `prefix` kwarg for `write_coco_annotations`

**Describe

[2021-11-15 12:34] themasterlink commented on #328
Merged

Thanks again!

[2021-11-15 12:34] #328 closed

[2021-11-15 12:37] alexander-soare commented on #328
@themasterlink thanks for the quick turnaround! And I'll take this opportunity to thank you and the team for the incredible work.

[2021-11-15 13:15] themasterlink commented on #328
You are welcomed to contribute more in the future,  we want to move the whole development into the public soon, we are currently battling with our internal testing suite to also run here.

[2021-11-16 09:34] #326 closed

[2021-11-16 12:58] njfugit opened #330 "About reading formats in HDF5 files"
Hi,
When reading the "shapenet_state" field in the HDF5 file, the display data type is "|s258". If np.array is used to read, the read data output is a byte stream. I want to know how to convert it to list format. Thanks.
![222](https://user-images.githubusercontent.com/28702691/141989179-f3769fb8-1af0-446d-8cd6-a6415ab48237.png)
![111](https://user-images.githubusercontent.com/28702691/141989110-9

[2021-11-16 13:10] cornerfarmer commented on #330
Hey @njfugit,

this snippet from the [writer tutorial](https://github.com/DLR-RM/BlenderProc/blob/main/docs/tutorials/writer.md#hdf5-writer) should be what you are looking for:
[code]

Let me know if you need any further help

[2021-11-16 13:31] njfugit commented on #330
OK,Thanks.

[2021-11-16 13:35] #330 closed

[2021-11-16 15:20] domef opened #331 "[BUG]: physics simulation changes type of blender object"
**Describe the bug**
After the physics simulation, the property `blender_obj` of `blenderproc.python.types.LightUtility.Light` object changes type from `bpy_types.Object` to `bpy.types.PointLight`.

**General Information**
1. Which BlenderProc verison are you using?
2.0.0a6.

2. On which operating system are you?
Ubuntu 18.04.

3. Have you checked the issue tracker to see if a similar issue has be

[2021-11-16 15:23] themasterlink commented on #331
Hey,

before I check this out, amazing bug report!

Best,
Max

[2021-11-16 15:40] cornerfarmer commented on #331
Hey @domef,

thanks for reporting this bug. It should be easily solvable by removing this function:
https://github.com/DLR-RM/BlenderProc/blob/main/blenderproc/python/types/LightUtility.py#L29-L34

This function is called, each time an undo operation is executed (e.q. in the physics simulator). As after an undo, all blender references become invalid, we have to reassign them. Apparently for Lights

[2021-11-17 09:19] mikkelmedm opened #332 "[BUG]: Light intensity increases for each run"
Using a combination of the bop_objects_physics_positioning and [key_frames](https://github.com/DLR-RM/BlenderProc/blob/5407f3c843a8b1444ee24137e67cad53aee4c619/docs/tutorials/key_frames.md#render-multiple-times) example I am trying to render multilple frames for each run. I want to have a new random light for each run, however it seems for each run, the light intensity increases, making the later

[2021-11-17 09:21] themasterlink commented on #332
Hey,

I can't see any part of the code which removes the old lights? You can just call `light_point.delete()` at the end of each loop.

https://github.com/DLR-RM/BlenderProc/blob/964ca3d6db33d769d4944e90c1376d373f647502/blenderproc/python/types/EntityUtility.py#L133-L135

Else you can just change the location in each run, which would be easier.

Best,
Max

[2021-11-17 09:26] mikkelmedm commented on #332
Hi @themasterlink,
Thanks for this!

Wouldn't the following loop change location each run, or am I missing something?
[code]

[2021-11-17 09:28] themasterlink commented on #332
Yes it does change the location every loop, but it also creates a new light every loop.

I would propose:
[code]

This only changes the location and does not create a new light in every loop.

Best,
Max

[2021-11-17 09:33] mikkelmedm commented on #332
Alright, yes I tried that already, but that leaves me with the following error
![erorr](https://user-images.githubusercontent.com/38498170/142174785-f537d174-92f8-4059-95d9-d96464e48b44.PNG)

[2021-11-17 09:34] themasterlink commented on #332
Can you please share the full code :)

[2021-11-17 09:35] mikkelmedm commented on #332
[code]

[2021-11-17 09:36] themasterlink commented on #332
This is related to #331.

Could you try remove this function:

https://github.com/DLR-RM/BlenderProc/blob/964ca3d6db33d769d4944e90c1376d373f647502/blenderproc/python/types/LightUtility.py#L29-L34

This should fix it.

Best,
Max

[2021-11-17 09:42] mikkelmedm commented on #332
That sure did work!

Thanks for your time and expertise :)

Kindly,
Mikkel

[2021-11-17 09:42] #332 closed

[2021-11-17 09:47] themasterlink commented on #332
No worries, that is a bug in BlenderProc, we will fix it in the next version.

Best,
Max

[2021-11-17 12:45] themasterlink commented on #331
This is fixed with 2.1.0

[2021-11-17 12:45] #331 closed

[2021-11-17 12:45] themasterlink commented on #322
This is now a feature of BlenderProc in v2.1.0 thanks to you!

[2021-11-17 12:45] #322 closed

[2021-11-17 12:46] themasterlink commented on #313
This is now fixed in v2.1.0 BlenderProc detects that the wrong python environment is used and throws an error.

[2021-11-17 12:46] themasterlink commented on #300
In v2.1.0 BlenderProc now supports writing of jpeg images.

[2021-11-17 12:46] #300 closed

[2021-11-17 12:47] themasterlink commented on #289
Hey, I will close this issue because of inactivity. If you need further help please feel free to reopen this.

[2021-11-17 12:47] #289 closed

[2021-11-18 00:47] jiaming3 opened #333 "[Question] binary ply file in ycbv dataset"
Hi, I am currently generating my own dataset using my own 3D model. I faced a problem for texture problem in the ply file. I notice that one of the GitHub issues provides a possible solution.( https://github.com/DLR-RM/BlenderProc/issues/175#issuecomment-805595645) .I have followed the steps as the graph shown below. However, I don't why meshlab crash every time I try to export ply in ASCII format

[2021-11-18 09:25] 99991 opened #334 "[BUG]: UnboundLocalError: local variable 'save_in_csv_attributes' referenced before assignment"
**Describe the bug**

In https://github.com/DLR-RM/BlenderProc/blob/5be0cb1257d83e22535afba739bd6f9b359f4c03/blenderproc/python/renderer/SegMapRendererUtility.py#L246 `save_in_csv_attributes` will not be set when no camera is supplied, resulting in a weird error message.

[code]

**General Information**
1. Which BlenderProc version are you using?

2.1.0

2. On which operating system are you?

Ubun

[2021-11-18 10:27] MartinSmeyer commented on #333
No idea why meshlab is crashing for you. It seems like a valid approach.

Yes, I have successfully done it this way. Although keep in mind that the vertex colors might look blurry compared to the textures.

Another option is to convert your .ply file to .obj and use the `bproc.loader.load_obj()`. If you still want to use the BopWriter later, you just need to add a category ID to the object, see he

[2021-11-18 13:35] 99991 opened #335 "[FEATURE]: Docker support"
**Is your feature request related to a problem? Please describe.**

I was unable to get this running on Windows or WSL due to various bugs...

**Describe the solution you'd like**

...so I wanted to run this in Docker instead.

**Describe alternatives you've considered**

I also considered https://github.com/DIYer22/bpycv which looks simpler but has fewer examples.

**Additional context**

I am cu

[2021-11-18 14:54] jiaming3 commented on #333
Thank you for your response! I have successfully implemented the obj loader in the example (bop_object_pose_sampling/main.py) and generated a BOP format dataset. However, I have followed the same thing as I did in bop_object_pose_sampling/main.py for the  bop_object_on_surface_sampling/main.py, but it will get an error : KeyError: 'bpy_struct[key]: key "category_id" not found'. I don't know why my

[2021-11-18 15:21] jiaming3 commented on #333
'''
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "C:\Users\olihu\Documents\BlenderProc-main\BlenderProc-main\examples/datasets/bop_object_on_surface_sampling/main.py", line 108, in <module>
    bproc.writer.write_bop(os.path.join(args.output_dir, 'bop_data'),
  File "c:\users\olihu\anaconda3\envs\blender2\lib\site-packages\blenderproc\python\writer\BopWriterUtil

[2021-11-18 15:30] jiaming3 commented on #333
I run the code in terminal using ```blenderproc run examples/datasets/bop_object_on_surface_sampling/main.py lm lm  bop_toolkit-master cctexture examples/basics/camera_object_pose/output```

[2021-11-18 15:33] MartinSmeyer commented on #333
Ah this is because of the `light_plane` and `room_planes`.
[code]
They are missing a `category_id`. If you do not pass a dataset to the bop writer, then it will try to write all mesh_objects. It fails if some of them are missing the `category_id`. So the easiest solution would be to just define your own `bop_dataset_name` for your object and then pass the dataset argument to the bop writer.

[code

[2021-11-18 15:55] jiaming3 commented on #333
Thank you! it works! I also have a question on bop_object_pose_sampling/main.py. I ran the code and get the BOP format image. However, it sometimes ends up with a completely white jpg like this, while some are normal. I also use one object in thebop_object_pose_sampling.
![000045](https://user-images.githubusercontent.com/60019124/142449052-64f871a1-f308-4cee-a59e-74da302408b6.jpg)

But a few of t

[2021-11-18 16:10] MartinSmeyer commented on #333
Yes maybe debug this one yourself, it could be that the light is directly in front of the camera. Let us know if you find any problem in the original example.

I will close this issue for now. If you don't find a solution, you can open a new one.

[2021-11-18 16:10] #333 closed

[2021-11-18 17:56] MartinSmeyer commented on #333
PS: Also pull the latest BlenderProc version there was a bugfix concerning lighting.

[2021-11-18 22:48] liruiw opened #336 "[DATASET]: Scenenet texture link not available."
It seems that the texture download [link](https://drive.google.com/file/d/0B_CLZMBI0zcuQ3ZMVnp1RUkyOFk/view?usp=sharing) at the scenenet [directory](https://github.com/DLR-RM/BlenderProc/tree/main/examples/datasets/scenenet) is missing. Thanks.

[2021-11-18 23:18] #336 closed

[2021-11-19 09:13] cornerfarmer commented on #334
@99991 Thanks for you bug report, we gonna fix this in the next version.

[2021-11-21 17:16] Goooyi opened #338 "[BUG]:Generated depth png from distance are all black"
OS: Ubuntu 20_04 and MacOS 12.0.1
Problem: Generated depth png with write_bop() function from distance are all black
I encountered this problem while using blenderproc 2.0.0a8 version, I see it's solved in the new version so I upgraded to **blenderproc 2.1.0** version but still the same situation for me.
When I run the #bop_object_physics_positioning# with with BOP tless and lm dataset, I use
[cod

[2021-11-22 08:06] #338 closed

[2021-11-22 08:52] masaaldosey opened #339 "[BUG]: documentation"
**Describe the bug**
The documentation page loads but descriptions for the python APIs does not.

**General Information**
1. Which BlenderProc version are you using? : v2.1.0

2. On which operating system are you? : Ubuntu 18.04

3. Have you checked the issue tracker to see if a similar issue has been opened? : yes

4. Have you changed BlenderProc in any way besides the config file? If yes, are yo

[2021-11-22 09:21] LLsmile opened #340 "[FEATURE]: how to generate objects in good order, regard less of the elasticity？"
how to generate objects in good order, regard less of the elasticity？

[2021-11-22 09:26] MartinSmeyer commented on #340
Sorry, I do not understand your question. Can you try to reformulate?

[2021-11-22 10:53] cornerfarmer commented on #339
Hey @masaaldosey,

thanks for letting us now! This should now be fixed.

[2021-11-22 10:53] #339 closed

[2021-11-22 11:09] themasterlink opened #341 "[FEATURE]: Run automatized tests before merging a PR"
**Is your feature request related to a problem? Please describe.**
Before each merging a automatized test should be run to make sure that BlenderProc still works

**Describe the solution you'd like**
Use BlenderProcHelper for that.

[2021-11-22 11:29] #341 closed

[2021-11-22 15:39] alexander-soare opened #344 "[QUESTION]: Recommended way to multiprocess for a physics/render pipeline?"
I'm working with a setup where it actually takes quite some time to place my items in the environment, both in terms of initial placement (avoiding collisions) and the physics after that. Therefore, my GPU is only running about 25% of the time.

I'd like to have a similar pipeline to deep learning on GPUs where you use separate processes to load data (here, prepare the scene) so that the GPU is ru

[2021-11-22 15:39] alexander-soare commented on #344
PS: I noticed there is no "question" option when creating a new issue, but I have seen questions on here. Is this the right place?

[2021-11-22 15:56] themasterlink commented on #344
Hey,

This would definitely work. The issue here could be that you have to sync them somehow, as the GPU should only be used by one job at a time, depending on your memory requirements. I would recommend `iLock` to limit the GPU access.

One, easy way I usually do is to increase the amount of images per scene or you can also do texture swapping that is not expensive and removes the typical CNN bia

[2021-11-22 17:29] alexander-soare commented on #344
RTX 3090 has some pretty beefy memory but the iLock idea is good anyway as it would help me make sure the processes are interleaved thereby maximizing the throughput. Forgive my slowness, but I did google multiple variations of "iLock gpu cuda" and couldn't get anything back. Is there a link or docs?

Great, thanks for those other ideas!

[2021-11-22 17:45] heilaw opened #345 "[FEATURE]: Suppressing output of Blender"
**Is your feature request related to a problem? Please describe.**
Blender is outputting lots of messages when it is rendering. Sometime, it makes it difficult to read messages generated by my own code.

**Describe the solution you'd like**
We can add an option (like `--quiet`) which redirects all the output of blender to the null device. It can be easily done as subprocess supports redirecting ou

[2021-11-22 18:02] #344 closed

[2021-11-23 06:42] themasterlink commented on #345
Hey,

I agree that should be an option. However, I don't know if just silencing blender totally helps so much. Maybe we should also add an option to only silence the rendering?

Best,
Max

[2021-11-23 07:15] masaaldosey commented on #323
it supplements my task. thank you @themasterlink :D

[2021-11-23 07:15] #323 closed

[2021-11-23 10:16] Lotfi-MERAD opened #346 "[BUG]: Path in Random Backgrounds are not correct"
hi,
in the example of random_backgrounds, when I run
[code]

the images are generated in the `"coco_data / images"` directory

So to run paste_images_on_backgrounds.py you have to change this
[code]
To
[code]

[2021-11-23 10:23] Lotfi-MERAD commented on #346
you have to delete the first word python I'm sorry !!
"python examples/advanced/random_backgrounds/paste_images_on_backgrounds.py --images examples/advanced/random_backgrounds/output/coco_data/images --backgrounds path/to/background/images --overwrite
"

[2021-11-23 10:24] themasterlink commented on #346
You can edit your comments ;) On the right dots and then you can edit.

I just wanted to make it nicer looking :D

[2021-11-23 10:37] cornerfarmer commented on #346
Hey @Lotfi-MERAD,

thanks for letting us know! This should now be fixed.

[2021-11-23 10:37] #346 closed

[2021-11-23 17:09] alemelis opened #347 "[FEATURE]: Visibility percentage"
Hi,  I'm using [`visible_objects`](https://github.com/DLR-RM/BlenderProc/blob/5407f3c843a8b1444ee24137e67cad53aee4c619/blenderproc/python/camera/CameraValidation.py#L120) to  find all the objects in the camera frame, but I'd like to quantify the amount of occlusion for each object. That would roughly be equal to `object_visible_surface_area / object_surface_area`.

Is this functionality already su

[2021-11-23 17:13] themasterlink commented on #347
Hey,

no it is not, but with just one change you could get something really similar.

https://github.com/DLR-RM/BlenderProc/blob/964ca3d6db33d769d4944e90c1376d373f647502/blenderproc/python/camera/CameraValidation.py#L131

Here we define a `set` of objects, which will be returned in the end. If you replace this with a `list`, then for each pixel a new object will be added (as long as it there is on

[2021-11-23 19:08] philenius commented on #335
# Blenderproc Docker image with CUDA support

Thank you for sharing your Dockerfile, @99991. In my case, I want to run Blenderproc on a Linux server within a Docker container while using CUDA.

So, based on your work and the [the Blender Docker images by The New York Times](https://github.com/nytimes/rd-blender-docker) I created an improved version of your Dockerfile with Blenderproc and CUDA:

##

[2021-11-23 21:05] elfring opened #348 "Increase the usage of augmented assignment statements"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of augmented assignment statements](https://docs.python.org/3/reference/simple_stmts.html#augmented-assignment-statements "Augmented assignment statements") accordingly.

[code]

[2021-11-24 08:54] LLsmile commented on #340
For example, I want to put 9 cylinders as a 3 * 3 line properly. But after physics_simulation, the cylinders get into a mess. Without physics_simulation, no cylinders remains. What can I do to get cylinders as I put?

[2021-11-24 08:59] MartinSmeyer commented on #340
You don't have to use physics simulation. You mean 3*3 square? Just set the pose of the cylinders. Please do the tutorials before opening issues.

https://github.com/DLR-RM/BlenderProc#tutorials

[2021-11-24 08:59] #340 closed

[2021-11-25 08:57] nmynol opened #349 "[QUESTIONS] About physic simulations for in-between collisions."
Hello, I imported two obj (one human head mesh and one cloth mesh) into the blenderproc, and I would like to let these two objects 'fit' with each other (for example, as the picture shows below, there are in-between collisions between the cloth and neck, I want the cloth to fit the neck according to the neck size) using the physic simulation, but it seems doesn't work. Do you know if there is any

[2021-11-25 09:51] MartinSmeyer commented on #349
Hi @nmynol,

our physics simulation is currently limited to rigid bodies. We are not yet supporting cloth / articulated simulations, but this might change in future.

In your case, I would just do the simulation in Blender beforehand, save it as a .blend file and load it in BlenderProc with `bproc.loader.load_blend()`.

[2021-11-25 09:55] nmynol commented on #349
Thanks for your fast response and useful suggestions! Do you mean that Blender supports cloth / articulated simulations?

[2021-11-25 10:09] MartinSmeyer commented on #349
Yes Blender does, I have no experience how realistic it is though. Here is a little tutorial:
https://www.youtube.com/watch?v=-vVoQ-1U0SY

I will close this for now.

[2021-11-25 10:09] #349 closed

[2021-11-26 07:06] xumingkun9806 opened #350 "[FEATURE]: Camera is in perspective projection mode and can BlenderProc set the working distance of the camera"
**Is your feature request related to a problem? Please describe.**

Thank you for your excellent work. I would like to ask whether the camera is in perspective projection mode and can BlenderProc set the working distance of the camera.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise d

[2021-11-26 07:48] themasterlink commented on #350
Hey,

the camera is by default always in perspective mode.

This question is a bit fuzzy to me. If you use the ShellSampler then you can easily set the distance of the camera, if you randomly sample the camera you can even check the distance before rendering, to make sure that the camera is placed correctly.

[2021-11-26 11:09] AmesnilOSE opened #351 "Question : Bad git executable"
Hi
Since a while, I have the message below when lauching Blender Proc. And I found no way to remove it and go further in the Blender Proc processing ...
Do you have an idea to avoid that, please?
I don't understand why it's necessary to put a GIT path. And which kind of application it is necessary to install?
Thank you for your help.

 _ImportError: Failed to initialize: Bad git executable.
The gi

[2021-11-26 12:27] themasterlink commented on #351
Hey,

can we have a bit more background.

So, can you do the following:

[code]

And give me the full output.

The git path is needed to save which verison of BlenderProc you used to generate the data.

Best,
Max

[2021-11-26 13:59] AmesnilOSE commented on #351
Hi
Thanks for your quick response. I was not able to execute the command line "git clone https://github.com/DLR-RM/BlenderProc.git"
git is not a executable command for windows.
Thanks
Aude

[2021-11-26 14:15] themasterlink commented on #351
Hey,

oh you are on windows. You should have said this.

Please install git:

https://git-scm.com/book/en/v2/Getting-Started-Installing-Git

In the future, googling an error message usually gets you help much quicker :)

Best,
Max

[2021-11-26 15:32] themasterlink opened #355 "[FEATURE]: Chasing of .obj/.ply files with .blend files"
**Is your feature request related to a problem? Please describe.**
Loading `.obj` or `.ply` files takes forever, it would be much nicer if those can be loaded at the same speed as `.blend` files can be loaded.

**Describe the solution you'd like**
Add a `ENV_VAR` which can be set, which then asks blenderproc to check if the given file path, was used before if it was not used before load the file n

[2021-11-26 16:58] AmesnilOSE commented on #351
Hi,
Thanks a lot for your helps. I installed git and BlenderProc works well. I guessed that git was installed in my computer since I used GitHub Desktop.
Sorry for the disturbance.
Best
Aude

[2021-11-26 17:04] MartinSmeyer opened #356 "[FEATURE]: Improve BOP API and add BOP Challenge examples"
**Is your feature request related to a problem? Please describe.**
- BOP Challenge examples are still only config files
- git clone and passing the path to bop_toolkit is tedious
- `write_bop()` would be more intuitive if it took a list of objects to save annotations for
- `load_bop()` loads either a BOP scene with camera poses or just BOP objects and camera intrinsics. This is not intuitive and n

[2021-11-26 17:19] themasterlink commented on #351
Hey,

Great. Don't worry :)

Best,
Max

[2021-11-26 17:19] #351 closed

[2021-11-29 10:40] daniel1v opened #358 "[BUG]: blenderproc command on Windows does not work under pip install"
**Describe the bug**
the blenderproc command stopped working in 2.1.0, it works on 2.0.0a8

instead of running a python script, or simply showing up the blenderproc help page, the following error message is shown:

[code]
the message is independent of which cli arguments follow after the blenderproc command. also the message is misleading, because I definitely started blenderproc the intended way

[2021-11-29 10:58] themasterlink commented on #358
Hey,

I can reproduce this, the pip install on Windows does not work :(

Until we fix this, you can git clone the repo and then you use the `cli.py` script:

[code]

Sorry for the inconvenience, but we don't use windows and can't really test on windows ourself.

Best,
Max

[2021-11-29 14:05] HannahHaensen commented on #338
first I think this sould be added to the enable depth output function:

[code]

second:
i have this in my main file

[code]

however, depth is not in the data dictionary `dict_keys(['normals', 'distance', 'colors'])`

[2021-11-29 14:06] themasterlink commented on #338
Hey Hannah,

can you show me your render call?

Best,
Max

[2021-11-29 14:12] themasterlink commented on #338
@HannahHaensen

Sorry, I meant the `bproc.renderer.render()`call.

Or could you provide the full script maybe?

Best,
Max

[2021-11-29 14:23] HannahHaensen commented on #338
[code]

[2021-11-29 14:25] HannahHaensen commented on #338
@themasterlink it is just the default physic positioning and now improving it to get the BOP gt data but first I wanted to add depth etc. individually. By changing the writer, i stumbled over the missing depth data

bproc.writer.write_bop(os.path.join(args.output_dir, 'bop_data'),
                       depths=data["depth"],
                       colors=data["colors"],
                       colo

[2021-11-29 18:32] PashaJ23 opened #359 "[Question] Rendering a scene with randomly placed multiple objects"
Greetings,
I love Blenderproc so far and I would like to thank you for it!

I am looking to use Blenderproc for domain randomization and for that purpose I want to generate tons of different scenes with different backgrounds. I am able to do it for a single object but I would like to take it up a notch:
I have 3 objects in .obj /.blend files. I would like for each render to take a random number of

[2021-11-29 22:38] heilaw commented on #345
Yeah, that sounds better. I think we can add an option to here: https://github.com/DLR-RM/BlenderProc/blob/ac97e4ac380764d47dbb0a214a1758d1cc6cb1d2/blenderproc/python/renderer/RendererUtility.py#L470. Then we can find a way to redirect all the output generated by this function: https://github.com/DLR-RM/BlenderProc/blob/ac97e4ac380764d47dbb0a214a1758d1cc6cb1d2/blenderproc/python/renderer/RendererU

[2021-11-30 08:13] themasterlink commented on #359
Hey,

that is totally possible with BlenderProc. Each run would then contain loading the objects, placing them, placing a camera and rendering the pose. That means you would have to rerun BlenderProc many times to create a dataset. I would recommend to render more than one image per scene.

If you want only a random collection you can always just use `random.choice()` on the list of objects.

PS:

[2021-11-30 09:19] PashaJ23 commented on #359
Hello Max,
Thank you for a quick reply! I am able to render multiple poses with a camera and light sampling, would it be possible to load in a list of scenes with objects (My scenes currently have one object per scene), move those objects around so they do not overlap, render and do coco annotations?
An example:
Iteration 1: Load 2 red objects, 1 blue object and 3 green objects
Iteration 2: Load 4

[2021-11-30 09:35] themasterlink commented on #359
Hey,

how do you load your objects currently? If you show me that I show you how to change it :)

Yes, you can place them randomly without collisions:

https://github.com/DLR-RM/BlenderProc/tree/main/examples/advanced/object_pose_sampling

Best,
Max

[2021-11-30 11:06] themasterlink commented on #325
I assume this is resolved now.

[2021-11-30 11:06] #325 closed

[2021-11-30 11:08] themasterlink commented on #345
Hey,

that sounds like a good idea, I would propose something like this maybe?

https://stackoverflow.com/a/1218951/9654834

If you find a nicer solution to do this please use that one :D

Best,
Max

[2021-11-30 16:38] heilaw commented on #345
Sounds good. I am going to try it out. If it works, I will submit a pull request.

[2021-11-30 17:35] PashaJ23 commented on #359
Hello Max,
I am using
[code]
But it doesn't seem to accept a list of scenes.

I then set the coco annotations depending on the name:

[code]
And later do light, camera sampling and rendering :)

Thank you,
Paulius.

[2021-12-01 13:37] themasterlink opened #360 "[FEATURE]: Support Blender 3.0.0 and Cycles X"
**Is your feature request related to a problem? Please describe.**
Friday the 3.12.2021 will be the release date of blender 3.0.0 and cycles X, we should offer support as quickly as possible.

**Describe the solution you'd like**
Change the blender version to 3.0.0 fix the Api changes.

* remove `set_samples` and replace with `set_noise_threshold` and `set_max_nr_of_samples`
* decide if cpu and gp

[2021-12-01 16:29] Marselias opened #361 "[Question] Spawning on surface"
Hi!
To briefly describe my environment: I have Table, Containers and Consumables.

First, I load the Table and, then i load Containers using spawn on surface method and everything is ok.
Then i want to spawn Consumables in the Containers, and there is my problem.

I use following code:
[code]
Half of items is being deleted due to complication with spawnig:
[code]
And the rest are mostly outside Co

[2021-12-01 16:56] cornerfarmer commented on #361
Hey @Marselias,

Yes this is probably the case. The `sample_poses_on_surface` should actually check for collisions, however it does so only between objects given as the first parameter.
Therefore, I would suggest that you call the `sample_poses_on_surface` once per container and place all Consumable that were assigned to that container at once.

The instabilities in the physics positioning might a

[2021-12-02 08:38] PashaJ23 opened #362 "Failed to create CUDA context (Invalid value)"
Greetings,
BlenderProc works fine on my machine, however, I now want to transfer the models on a GPU server to render tens of thousands of images and I have stumbled upon some problems that I cannot solve. The server is using an RTX A6000 and Fedora Linux installation.
When I run the quickstart.py script I get the following error:
`Failed to create CUDA context (Invalid value)`

In the script, I a

[2021-12-02 10:50] themasterlink commented on #362
Hey,

that seems interesting it might be that blender can not find the CUDA installation on your server system, can you check if you can render anything with blender on that machine?

But it seems more people have issues with fedora and blender:  https://ask.fedoraproject.org/t/problems-with-cuda-and-blender/15930/2

Maybe you get help there, this seems like a blender problem and not a BlenderProc

[2021-12-02 11:24] JeanDebinski opened #363 "[BUG] Material_Manipulation example command is broken"
Hi there,
I am new to BlenderProc using it for my MasterThesis to render pictures with domain randomization. Currently I am starting and trying all examples that BlenderProc provides.

When trying to use the Material_Manipulation there appears the Error:
[code]

I can't figure out what I have done wrong?
I created a folder where I put the .jpg Files with several material textures.
Neverless this E

[2021-12-02 12:35] Marselias commented on #361
Partially it is. If consumable is spawned, its always in the container. But with 100 iterations there is still a problem with spawning. About half of runs items is deleted due to problems with positioning.

[2021-12-02 12:43] themasterlink commented on #361
@Marselias

Completely unrelated to your problem, but I would recommend using a plane as a light source and not a point light, the shadows are then more realistic. In real life we don't usually have super small extreme strong light sources.

PS: Use an hdri in the background, that makes the lighting much more realistic.
https://github.com/DLR-RM/BlenderProc/tree/main/examples/datasets/haven

Best,

[2021-12-02 12:49] themasterlink commented on #363
Hey,

you are right the example is broken. I just tried it out myself.

We moved the images and did not fix the `README.md`. Thanks for catching it!

The correct command would be:

[code]

The images are now stored in the `images` folder.

Thanks for catching this!

Best,
Max

[2021-12-02 13:00] Marselias commented on #361
Im using hdri, but later.
Regarding to this Heaven loader:
In the file HavenEnvironmentLoader.py
line 49   `  hdr_files = glob.glob(os.path.join(data_path, "*", "*.hdr"))`
i think it should be `hdr_files = glob.glob(os.path.join(data_path, "*.hdr"))`, because with this extra star im getting error

[2021-12-02 13:10] JeanDebinski commented on #363
Thank you very much for the quick response and fixing.

Best,

Jean

[2021-12-03 09:20] sameersharma84 opened #365 "[OPTIX_ERROR_PIPELINE_LINK_ERROR] while running the toy quickstart.py on Ubuntu 20.04 for the first time"
I followed the installation steps but got the following error while running `blenderproc run quickstart.py`:

Device NVIDIA GeForce GTX 1660 Ti of type OPTIX found and used.
Fra:0 Mem:18.79M (Peak 18.81M) | Time:00:00.07 | Mem:0.00M, Peak:0.00M | Scene, View Layer | Synchronizing object | Suzanne
Fra:0 Mem:18.84M (Peak 18.85M) | Time:00:00.07 | Mem:0.00M, Peak:0.00M | Scene, View Layer | Initializ

[2021-12-03 09:33] themasterlink commented on #365
Hey,

can you do me a favor and try to start blender (without BlenderProc) and render a scene, make sure that Cycles is used not Eve. You can find a tutorial on this online.

If this works, then we need to check what else could be wrong. But, right now it seems like you have a problem with running blender and not running BlenderProc. There are luckily a lot of people using blender around the world

[2021-12-03 10:48] cornerfarmer commented on #361
Can you then please check which debug messages are printed by `sample_poses_on_surface` and for which consumable-container combinations this error occurs? Its hard to say whats the reason behind that without any further information.

One reason might be that the consumables bounding box is larger than the surface and therefore never all corners of that bounding box can be above the container (one

[2021-12-03 17:09] sameersharma84 commented on #365
Thanks for the help, Max. Yes, there was an issue with Blender on my machine - Blender wasn't picking the GPU up. I just followed this [link](https://phoenixnap.com/kb/install-nvidia-drivers-ubuntu), reinstalled Nvidia drivers and it started working :) Closing this issue for now.

[2021-12-03 17:09] #365 closed

[2021-12-04 18:21] jiaming3 opened #366 "[question] getting model info"
Hi, I am creating my own BOP format dataset, but missing model information overall. Does the blenderProc have toolkits or any other tools to get those information, especially on diameter and symmetries_discrete? I know it would import the ply file using python to get min or max x,y,z, but I would not find a way to accurately measure the diameter and  symmetries_discrete.

[2021-12-05 20:39] MartinSmeyer commented on #366
Hi,

BlenderProc can create a dataset in BOP format with the essential information. To compute additional information like object diameter you can then easily use/adapt the scripts from the [bop_toolkit](https://github.com/thodan/bop_toolkit) (which I also help to maintain).

https://github.com/thodan/bop_toolkit/blob/master/scripts/calc_model_info.py

If you want it directly in your blenderproc s

[2021-12-06 07:29] Marselias commented on #361
I think this is the problem.
I have tried to change the function to accept spawned object when only given number (less than 8) of corners meet requirement but Consumables were not "centered" enough to fall into Container and there were some problems in spawning objects inside each other.
I will try to manipulate more with rotation in the sampling function, it might help me with long objects.
Thank

[2021-12-06 07:29] #361 closed

[2021-12-06 09:18] JeanDebinski opened #367 "[BUG]: Visualization command not working for semantic segmentation"
Hey there,

it's me again.

I was trying the example for semantic_segmentation.

But Visualizing the output it just shows me two pictures with colors and depth.
There is no output of the semantic segmentation.

Is there a generally problem or am I doing something wrong?

Best,

Jean

[2021-12-06 10:04] themasterlink commented on #367
Hey,

thanks for catching this! You are right there is a typo in the comparison in the `blenderproc vis hdf5` mode.

https://github.com/DLR-RM/BlenderProc/blob/ac97e4ac380764d47dbb0a214a1758d1cc6cb1d2/blenderproc/scripts/visHdf5Files.py#L132

If you change this line to:

[code]

Then it correctly uses the keys.

Sorry for the inconvenience!

Best,
Max

[2021-12-06 10:13] #363 closed

[2021-12-06 10:19] JeanDebinski commented on #367
Hi Max,

thank you very much for your fast reply.

Best,

Jean

[2021-12-06 10:23] #367 closed

[2021-12-06 10:24] JanGlinko opened #369 "[Question] Coco annotations"
Hi,
how to set
[code]
properly for instance segmentation?
I want to have annotations like this
[code]
I am loading different objects, which should have the same category.
Thus I am setting name based on the loaded object and custom property ```category_id``` based on the name.
Problem is that if I load multiple objects with the same name (but from different ```.obj``` files) im getting description

[2021-12-06 11:55] JanGlinko commented on #369
I have found a (probably not optimal) solution.
Im mapping by ```instance``` and ```class``` and i get descriptions like below:
```{"id": 0, "supercategory": "coco_annotations", "name": 0} ```
Then I load generated json, from key ```categories``` and apply mapping (for example 0 -> Apple, 1 -> Orange etc.) for ```name```.
As i mentioned, probably better solutions exists.

[2021-12-06 12:20] themasterlink commented on #369
Hey,

As i mentioned, probably better solutions exists.

that is the best approach, you should set the `category_id` based on the category label and use that as classification result. You should not use the name of the blender objects as category, this is far to error prone.

Best,
Max

[2021-12-06 12:20] #369 closed

[2021-12-06 12:28] jiaming3 commented on #366
Thank you! This helps me a lot!

[2021-12-06 12:28] #366 closed

[2021-12-06 12:35] themasterlink commented on #359
Hey,

no it does not.

But what you can do is:

[code]

Haven't tested it but this should work.

Best,
Max

[2021-12-06 14:15] alexander-soare opened #370 "[QUESTION]: How can I access the MeshObject to COCO annotation ID mapping?"
In my main loop there is further processing I want to do on each segmentation instance (specifically, I'll be extracting a certain type of pose data). While I could write a whole new variation of the render_segmap function that incorporates my extra calculations, this question is about seeing if there is an easy way to just get the mapping between some unique id of the `MeshObject` and the resulti

[2021-12-06 14:53] cornerfarmer commented on #370
Hey @alexander-soare,

the coco annotations id is equal to each objects `category_id`. In the `coco_annotations` example this id is set at the beginning of the script: https://github.com/DLR-RM/BlenderProc/blob/main/examples/advanced/coco_annotations/main.py#L17

So if you want to use the same id for your custom annotations you can do so by using the `MeshObject` function `get_cp`:

[code]

Let me

[2021-12-06 15:17] alexander-soare commented on #370
@cornerfarmer ahh of course! I was actually mapping all the category ids to 1 because I want to treat all my objects as the same thing, but I suppose I can do the same as your example and remap the category ids afterwards. I guess the only other problem is I'd need to track the ids as they are shifted forward if I am appending to an existing coco directory.

[2021-12-06 15:54] cornerfarmer commented on #370
Yeah so I think the easiest approach is the following:
* Ignore the annotatons id, just use the `category_id` attached to each coco annotation (they are not always equal).
* Assign a different category id to each object
* In the beginning of your script read in the `coco_annotations.json` and use the max `category_id` as an offset for the category ids you assign to each object

In this way you cre

[2021-12-06 16:13] alexander-soare commented on #370
@cornerfarmer thanks for the ideas :) Feel free to close this if that's suitable

[2021-12-06 16:15] #370 closed

[2021-12-06 18:48] PashaJ23 commented on #362
Hello Max,
After lots of trouble, I have found that the blender detects my GPUs, but probably the A6000 drivers are mismanaged.
Here is the current problem: My devices are as follows:
[0] RTX A6000
[1] Tesla K80
[2] Tesla K80
[3] CPU

If I run blenderproc, it detects A6000. I have managed to solve the issue by hardcoding to skip it in Initiliazer.py (See below).
It didn't solve my problem though,

[2021-12-06 18:50] aendrew opened #372 "[FEATURE]: Easily export cameras placed in Blender?"
Hi there,

I'm trying to figure out how to position cameras as per the most basic example, and while I've gotten decently far in terms of importing the relevant .obj files from Blender, I'm struggling to provide coordinate and rotation values to the `camera_positions` file.

I'm trying to render a scene with a very large scale, and am trying to replicate the camera I've placed in Blender. See belo

[2021-12-06 19:15] aendrew commented on #372
So, okay I've figured out the degrees are in radians so much closer now, but any idea why the depth map is outputting like this?

Thanks!

![Screenshot 2021-12-06 at 19 14 27](https://user-images.githubusercontent.com/185041/144907851-7b14cabb-10a9-4432-a674-50935f01b6fc.png)

[2021-12-06 20:20] aendrew commented on #372
PEBKAC, apologies — I was editing the wrong file, couldn't figure out why nothing I edited changed the output. 😅

[2021-12-06 20:20] #372 closed

[2021-12-06 20:27] themasterlink commented on #362
Hey,

It didn't solve my problem though, I still get Error: Failed to create CUDA context (Out of memory) in my renderer.

This error is quite simple the scene you are currently trying to render is too complex. I would recommend starting with the basic example. If that works you can try your own example.

As you are using 3 different GPUs it might be that blender can not deal with that, by turning

[2021-12-06 21:18] PashaJ23 commented on #362
Hello Max,
I am trying to render a simple cone, and it works without problems on my machine with a GTX 1060Ti. I have even dropped the sample size to 100 (On my machine it could do up to 10k) and still the errors. It is confusing as both
`blender scene.blend -b -P render.py`
and blender GUI script tab work...
I think if it was CUDA problem itself, it would not work on at least one of those.

[2021-12-06 21:23] themasterlink commented on #362
Hey,

the sample size has nothing do with the memory demand.

Hmm, can you verify that when you render it with blender, it uses the GPU? Blender some times turns the GPU off if in the save file a different gpu was used. Then it uses the cpu which would require no CUDA.

Best,
Max

[2021-12-07 14:07] Lotfi-MERAD opened #373 "[Question]: FOV in blender (radiant or degree)"
hi,
when I run blenderproc in debug mode ,  in the camera parameters in blender I have a FOV = 39.6 ° while bproc.camera.get_fov () gives me (0.691111015275598, 0.527423553726317) any explanation please , and which one I take into consideration .

thank you !

[2021-12-07 14:09] themasterlink commented on #373
Hey,

you can use either one. Both are correct:

39.6 degree are 0.69111 radians, the second value is the vertical opening of the camera.

Does this help?

Best,
Max

[2021-12-07 14:12] Lotfi-MERAD commented on #373
thank you for your quick feedback  ,  how do I change this in blenderproc

[2021-12-07 14:15] Lotfi-MERAD commented on #373
change the fov from 39.6° to another value  for  example 90°

[2021-12-07 14:28] themasterlink commented on #373
Hey,

you can change the fov with the following function:

https://github.com/DLR-RM/BlenderProc/blob/f0c5b4fde870484ca68a6a28a9fed013aed5809a/blenderproc/python/camera/CameraUtility.py#L71-L72

[code]

Does this help?

Best,
Max

[2021-12-07 14:43] #373 closed

[2021-12-08 11:44] PashaJ23 commented on #362
Hello Max,
When I render through headless blender
`blender scene.blend -b -P render.py`
As well as in GUI, I can see that the GPU is working in `nvidia-smi` command. I have tried with both, Tesla GPUs and RTX A6000 by calling them via `bpy.context` methods. However, if I call the `bpy.context` within the blenderproc script, it doesn't seem to do anything (e.g. I turn off [0] GPU via bpy, but blend

[2021-12-08 12:14] themasterlink commented on #362
@cornerfarmer do you have an idea what the cause here could be?

[2021-12-08 13:00] cornerfarmer commented on #362
@PashaJ23:

If rendering on GPU works in your custom script, it should also work with blenderproc. As far as I know, we only set the device settings in the Initializer.py script.

Next to skipping the A6000 device for determining which compute type to use, you probably have to adjust the lines 59-61:
[code]

Per default we activate all computing devices. Probably, as you have three GPUs on that ma

[2021-12-08 16:39] jiaming3 opened #374 "[question] why getting empty visible mask"
Hi, I was creating my own dataset. I used to get the mask visible connect. However, I change my obj into only one material with a texture png. Then, I did the same process again. However, the masks were correct but the mask_visib went wrong. Why did it happen like that?

![image](https://user-images.githubusercontent.com/60019124/145246965-fb761c44-4803-44b3-b409-e4d864898f34.png)

[2021-12-08 17:15] MartinSmeyer commented on #335
Thanks a lot for your input! I have slightly adapted your Dockerfiles, e.g. they run CUDA 11.2 now, and pushed it to docker hub.

https://hub.docker.com/r/blenderproc/blenderproc

You should be able to run a CPU/GPU BlenderProc Container with a single command.

Please let me know if you have further suggestions.

[2021-12-08 17:16] jiaming3 commented on #374
Oh, I think I know where is the problem. I have put the '''bproc.renderer.enable_distance_output()
    bproc.renderer.set_samples(200)''' out and make others code in the bop_on_surface example as a loop, so I would run multi-time. However, if I want to make this process repeatedly as a loop, how would I change it? So I would not get error like RuntimeError: The key: renderer_distance_end was alrea

[2021-12-09 10:30] #335 closed

[2021-12-09 11:34] #374 closed

[2021-12-09 13:49] DRM-Free opened #375 "[BUG]: cctextures download fails"
**Describe the bug**
A clear and concise description of what the bug is.
While downloading the textures, as proposed in BlenderProc/examples/datasets/bop_challenge/, it seems that a networking issue prevents from downloading the assets after some time.

**General Information**
1. Which BlenderProc version are you using?
2.1.0

2. On which operating system are you?
Endeavour OS (arch)

3. Have you

[2021-12-09 16:56] themasterlink commented on #375
Hey,

thanks for raising this issue, I saw this myself the other week but my colleagues could not reproduce it, so we decided not to raise an issue. It seems that sometimes on some machines the website breaks the connection, which then means the download dies.

My error could be resolved with changing the download:

https://github.com/DLR-RM/BlenderProc/blob/f0c5b4fde870484ca68a6a28a9fed013aed5809

[2021-12-09 17:08] DRM-Free commented on #375
Thank you for sharing the quick fix. I had another issue that happened before the download break some times, but I didn't save the output. It was like "Can't unzip because file is not a true zip file". I will post an issue if it happens again.

[2021-12-10 13:19] wboerdijk opened #376 "[FEATURE]: Load robot from urdf files"
**Is your feature request related to a problem? Please describe.**
Provide a loader to load a robotic manipulator from `.urdf` files. Also implement manipulation of joints.

**Describe the solution you'd like**
Loader to load from urdf files. Should return a robot instance, which can be manipulated like `bpy.types.Entity`. Additionally, one should easily rotate different joints while preserving th

[2021-12-12 11:54] timovr-dev opened #378 "[Question] Bop writer should ignore certain objects in the scene."
Hey,
I would like to switch from the coco writer to the bop writer.
I have a scene where I have 3 objects and I would like to obtain the rotation and translation matrix (so bop would be perfect for this).
Additionally I have about 20 distraction objects in the scene
(It would be desirable if the writer would simply ignore the poses of these objects and not write them).

The coco writer had this ki

[2021-12-13 03:19] Goooyi opened #379 "Writing COCO annotations with certain objects."
I loaded a .ply object of my own and used **bproc.loader.load_obj()** to loaded it and used **bpy.context.object.copy()** to duplicated it several times, I set most of those object's "category_id" to 0, only a few of them has "category_id" value > 0 (using new_obj["category_id"] = 0), cause I read in other issues that category_id = 0 will be igonred as background by **bproc.writer.write_coco_annot

[2021-12-13 09:36] DRM-Free commented on #375
As of today, I applied the suggested change and got this error:

Download asset: Grass003 of 126/1307
Download asset: WoodFloor042 of 127/1307
Traceback (most recent call last):
  File "/usr/lib/python3.9/site-packages/urllib3/connection.py", line 174, in _new_conn
    conn = connection.create_connection(
  File "/usr/lib/python3.9/site-packages/urllib3/util/connection.py", line 73, in create_conn

[2021-12-13 09:43] MartinSmeyer commented on #378
Hey @timovr-dev,

Just like the coco writer, the bop writer also has an option to only write poses for a subset of objects:

https://github.com/DLR-RM/BlenderProc/blob/f0c5b4fde870484ca68a6a28a9fed013aed5809a/blenderproc/python/writer/BopWriterUtility.py#L29

What you additionally need to do is to set the `bop_dataset_name` custom property for your objects of interest. This is automatically done i

[2021-12-13 09:44] #378 closed

[2021-12-13 10:29] DRM-Free commented on #375
I proposed a patch. Please let me know if it helps or if it needs modifications.

[2021-12-13 10:46] DRM-Free commented on #375
Well, it looks like contributing requires to sign a pdf and send it somewhere by email, I don't exactly have a printer so I guess I can't contribute for now. Anyway I managed to solve my issue by adapting your fix and enable resuming the download from its current state.

[2021-12-13 10:46] #375 closed

[2021-12-13 11:01] themasterlink commented on #375
Hey,

you can sign it digitally and send us the signed pdf.

Best,
Max

[2021-12-13 12:47] cornerfarmer commented on #379
Hey @Goooyi,

Calling `bpy.context.object.copy()` is definitely not enough to duplicate an object, as e.g. the mesh is otherwise not duplicated. However, I am not sure this is causing your issue.
Nevertheless, I would recommend you to switch to our API, which makes things easier and also has a simple `obj.duplicat()` function.
So, for example the first loop you can write as:
[code]

I would also r

[2021-12-13 13:40] DRM-Free opened #381 ":question: Generating bop linemod"
I'm trying to generate the bop-like linemod dataset. Using the config_lm_upright.yaml configuration file, it seems that blenderproc requires the tless dataset to be downloaded
[code]
Why is that? Is the Tless data used in any way for linemod data generation?

[2021-12-13 14:34] marcelosemo opened #382 "[BUG]: Debug mode does not work with relative path of python file"
**Describe the bug**
When following the [Quickstart/Debugging part of the documentation](https://dlr-rm.github.io/BlenderProc/#debugging), passing the path `quickstart.py` as argument results in the following error:
[code]

Simple generation of the image (instead of debugging) works, as well as passing the absolute path to the python script to be debugged (which is a bit tedious).

**General Infor

[2021-12-13 15:00] cornerfarmer commented on #382
Hey @marcelosemo,

thanks for letting us know. I cannot reproduce it on linux so it seems to be a windows-specific issue.
Could you please check whether replacing line 32 of `blenderproc/debug_startup.py` with the following helps?
[code]

[2021-12-13 15:15] MartinSmeyer commented on #381
Yes, the T-LESS objects are used as distractor objects for the Linemod `train_pbr` data used in the BOP challenge. You can see in the config which datasets are required, for LM this is tless, ycbv and tyol.

[2021-12-13 15:17] marcelosemo commented on #382
Hi @cornerfarmer,

thanks for the quick reply, your suggested change does the job.

[2021-12-13 15:50] cornerfarmer commented on #362
@PashaJ23 Were you able to solve the issue?

[2021-12-13 17:03] timovr-dev commented on #378
Thank you Martin the writer considers now only the the objects that I would like to have in the scene.
The only thing which is slightly off is that the bop writer writes objects into the output file that are not actually in the image.

**Here an example:**
I have in the scene in total 15 important objects that can potentially emerge in the image.
I do a physical drop.
The simulation considers (in

[2021-12-14 00:01] lyndonchan opened #384 "[BUG]: Incorrect CLI Commands to Download Assets"
**Describe the bug**
`blendeproc download_blenderkit` in https://github.com/DLR-RM/BlenderProc/blob/main/docs/tutorials/loader.md#downloading-assets should read `blenderproc download blenderkit <OUT_DIR>` instead. The same presumably applies to the following commands in that section.

**General Information**
1. Which BlenderProc version are you using?
Commit f0c5b4fde870484ca68a6a28a9fed013aed5809

[2021-12-14 03:47] Goooyi commented on #379
Hi @cornerfarmer , thanks for the quick reply.
first, I do check in debug mode that the category_id are set properly,
I wrote my duplicate function as so which kind solve the problem:
[code]
I didn't notice blenderproc has it's own `duplicate()` function, use it do kind solve the problem too. Now, for both `duplicate()' function, only the one with category_id greater than 0 now has coco annotation

[2021-12-14 05:29] Goooyi commented on #379
And the reason I didn't use bproc for most of my code is because I want to stack my loaded object and increase realism like in this (video)[https://www.youtube.com/watch?v=E-Caos57_28&t=491s] describe, I tried `bproc.object.sample_poses_on_surface` and `bproc.object.sample_poses` like in the bop examples, but the problem is that, it take a lot time to sample a valid position with no collusion betw

[2021-12-14 07:29] themasterlink commented on #384
Hey,

good catch yes it should include the output dir as well.

Best,
Max

[2021-12-14 08:35] themasterlink commented on #382
Fixed on develop, will be merged into main in the next version.

[2021-12-14 08:35] #382 closed

[2021-12-14 08:59] cornerfarmer commented on #379
Hey @Goooyi,

setting locations and rotations is also possible via the bproc api. You can simply use `obj.get_location()`, `obj.set_location()`, `obj.set_rotation_euler()`, `obj.get_rotation()`.

Of course, if you insist you can also just switch to the blender api either in the way you did or by accessing `obj.blender_obj` which contains a reference to the original blender object.

---

Concerning

[2021-12-14 09:32] themasterlink commented on #360
Merged into develop

[2021-12-14 09:32] #360 closed

[2021-12-14 10:57] Goooyi commented on #379
yes, it solved now, thanks!

coco error message here:
[code]

[2021-12-14 12:10] Me817 opened #385 "[BUG]: Wrong Camera intrinsics used although they are set in script"
Hello,

**Describe the bug**
we have set our camera intrinsic matrix in the script according to the tutorial [Configuring the Camera](https://github.com/DLR-RM/BlenderProc/blob/main/docs/tutorials/camera.md). Here is our code snippet:

[code]

Unfortunately in the output in the camera.json we get a completely different K-matrix for the camera intrinsic parameters. Only the height and width is corr

[2021-12-14 13:08] cornerfarmer commented on #379
Hey @Goooyi,

this seems to be a bug in the vis_coco script, which cannot handle ints as category names. One quick workaround would be to also add  `"name"` to the `map_by` argument of the segmentation renderer:
[code]
Now the name of the coco categories should correspond to the name of the objects.

Additionally you could also fix this issue by replacing line 33 of `blenderproc/scripts/vis_coco_a

[2021-12-14 13:51] MartinSmeyer opened #386 "[FEATURE]: more intuitive make_emissive"
**Is your feature request related to a problem? Please describe.**
make_emissive takes in `emission_color` argument which is ignored if not also setting `keep_using_base_color=False`

**Describe the solution you'd like**
remove `keep_using_base_color` argument and set `base_color` if no `emission_color` is given

[2021-12-14 14:51] marcelhohn opened #388 "[BUG]: ModuleNotFoundError when using pandas"
**Describe the bug**
I am using a pandas DataFrame to store coordinates for placing my objects.

[code]

When running my BlenderProc script via

[code]
I get the following error message:

[code]

pandas has been installed system-wide via pip

**General Information**
1. Which BlenderProc version are you using?

Cloned version from Github (https://github.com/DLR-RM/BlenderProc/commit/f0c5b4fde870484

[2021-12-14 15:23] cornerfarmer commented on #388
Blender uses its own python environment and does not access pip packages installed on the system.
To install a pip package there use the blenderproc cli:
[code]

[2021-12-14 15:26] cornerfarmer commented on #385
I cannot reproduce this bug. If I enter your K matrix into the [camera_object_pose](https://github.com/DLR-RM/BlenderProc/blob/main/examples/basics/camera_object_pose/main.py#L38) example, it is correctly written into the camera.json produced by the bop writer.

Maybe the camera.json is from a previous run? If not, please post your complete script, so we can reproduce the error.

[2021-12-14 15:37] #386 closed

[2021-12-14 16:18] marcelhohn commented on #388
Thanks a lot, that worked!

[2021-12-14 16:19] #388 closed

[2021-12-14 17:30] cornerfarmer opened #391 "Add documentation of how to debug blenderproc with IDEs"
Related: #8

[2021-12-14 20:14] anilozfuttu opened #393 "[BUG]: random_backgrounds example generates coco without annotations"
**Describe the bug**
running `blenderproc run examples/advanced/random_backgrounds/main.py`
output coco_annotations.json has no categories or annotations

**General Information**
1. Which BlenderProc version are you using?
Version: 2.1.0
2. On which operating system are you?
Pop OS

**To Reproduce**
Steps to reproduce the behavior:
1. Provide the full command you used to run BlenderProc:
`blenderp

[2021-12-15 03:25] Goooyi commented on #379
Thanks for the help! @cornerfarmer, it works now.

[2021-12-15 03:25] #379 closed

[2021-12-15 09:09] JanGlinko opened #394 "Unstable physics after spawning on surface"
**Describe the bug**
After spawning items using function ``` blenderproc.object.sample_poses_on_surface ``` physics simulation seems unstable.

**General Information**
1. Which BlenderProc version are you using?
2.1.0
2. On which operating system are you?
Ubuntu 20.04
3. Have you checked the issue tracker to see if a similar issue has been opened?
Yes
4. Have you changed BlenderProc in any way bes

[2021-12-15 10:18] MartinSmeyer opened #395 "[BUG]: scenes became darker"
**Describe the bug**
`light_surface()` without argument emission_color defaults to base color instead of default color.

**Fix**
Make `emission_color=[1,1,1,1]` explicit argument so that scenes are bright again.

[2021-12-15 10:59] cornerfarmer commented on #394
Hey @JanGlinko,

it seems you are using `MESH` collision_shapes. Although these collision shapes are very exact, they are also very unstable.
I would therefore recommend you to use `"CONVEX_HULL"` collision shapes instead. If you have objects that are very non-convex, you can also use convex decomposition to get more exact but still stable collision shapes.

See this tutorial for more details: htt

[2021-12-15 11:09] cornerfarmer commented on #393
Hey @anilozfuttu,

thanks for letting us know, thats a bug in the examples main.py script.
Apparently, for the single object the category_id `0` is set. However, when writing the coco annotations, the category_id `0` is assumed to be the background and ignored.

So to fix that simply change line 72 of `examples/advanced/random_backgrounds/main.py` to:

[code]

Now the object should have category_i

[2021-12-15 11:18] JanGlinko commented on #394
Thank You for the response.
Its little more stable. But still, in the first frame all items "jumps" a little. Should i change some physics parameters like mass, friction and dumping?
![Screenshot from 2021-12-15 12-14-25](https://user-images.githubusercontent.com/94356189/146177214-f7f14dcd-287f-4574-bc67-e20d1dcf3500.png)

![Screenshot from 2021-12-15 12-17-52](https://user-images.githubuserconte

[2021-12-15 11:57] marcelhohn opened #398 "[BUG]: Visualization of segmentation mask fails for non-string category names"
**Describe the bug**

When calling

[code]
the following error is raised:

[code]

This is because the category name is an integer and not a string:

(coco_annotations.json)
[code]

According to the typing specification of `cat_dict` in l.233 in `CocoWriterUtility.py` it seems intended that a category name does not have to be of type `str`.

If you indeed do not want to enforce `str` category name

[2021-12-15 11:59] cornerfarmer commented on #394
So the first frame is before physics positioning and the second one is afterwards or what exactly do the screen shots show?
And you are now using CONVEX_HULL collision shapes, right?

Can you try loading only one object and see if the positioning works then?

[2021-12-15 12:23] JanGlinko commented on #394
Yes, the first frame is just after spawning on the surface and second one is just after running physics simulation.
Yes, im using CONVEX_HULL.
I think there is a problem with my models, because some of them are stable and some not

[2021-12-15 12:31] cornerfarmer commented on #394
If you want, you can upload one model which does not work and I can take a look.
Apart from that, you could run your script in debug mode and then replace `simulate_physics_and_fix_final_poses(` with `simulate_physics(`. In this way, you should be able to see the full simulation in the blender GUI and not only the final fixed poses.

[2021-12-15 12:37] JanGlinko commented on #394
Sure,
https://drive.google.com/drive/folders/1FRwKaQh2tGykUb5fXRh1vAJUdQArs2MH?usp=sharing
Thank You.

[2021-12-15 12:54] cornerfarmer commented on #394
Hey @JanGlinko,

I cannot really reproduce this behaviour. In my test, the apple is placed nicely on the table:
![grafik](https://user-images.githubusercontent.com/11724557/146189799-b67f6ab1-a87e-41e5-a264-44f68c040ebc.png)

I used your code, just replaced `"MESH"` with `"CONVEX_HULL"` collision shapes and used a simple cube as table (as I do not have Box_stol.blend):
[code]

Maybe there is somet

[2021-12-15 13:03] JanGlinko commented on #394
I was analyzing simulation of physics step by step and i have found that some objects' origins are not aligned with objects, and it makes simulation unstable.
Creating with Your code helped with the jumping.
Thanks!

[2021-12-15 13:17] cornerfarmer commented on #394
Yeah we know about the instabilities of misplaced object origins. Thats we shift origins to the center of mass before the simulation: https://github.com/DLR-RM/BlenderProc/blob/main/blenderproc/python/object/PhysicsSimulation.py#L95
This is then undone after the simulation.

[2021-12-15 13:57] timovr-dev commented on #378
What scripts did you change in order to adapt the calc_gt_info.py to your own custom dataset?

So far I have changed:
1.  config.py (bop_toolkit_lib folder)
2.  calc_gt_info.py  (scripts folder)

[2021-12-15 14:00] cornerfarmer commented on #398
Thanks for letting us know, this is similar to https://github.com/DLR-RM/BlenderProc/issues/379#issuecomment-993522285

[2021-12-15 22:23] #395 closed

[2021-12-16 08:18] marcelhohn commented on #398
Ah I see, I didn't find the issue #379, sorry for the duplicate. Is it planned to fix this bug in the code as suggested in https://github.com/DLR-RM/BlenderProc/issues/379#issuecomment-993522285?

[2021-12-16 10:26] JanGlinko opened #399 "[Question] How to add texture in runtime?"
Hi,
I want to randomize textures in the runtime.
Im loading `blend` object
` table = blenderproc.loader.load_blend("/home/avena/software/items3/scenes/Box_stol.blend")[0]`
Im choosing one texture from Haven
`texture = np.random.choice(blenderproc.loader.load_texture("/home/avena/software/items3/scenes/textures"), 1)[0]`
which gives me for example `<bpy_struct, ImageTexture("ct_cobblestone_color")

[2021-12-16 11:03] JanGlinko commented on #399
I succeeded with
[code]

[2021-12-16 11:03] #399 closed

[2021-12-16 13:53] MartinSmeyer commented on #381
You only need the base archives and the object modelsl. They should be quite small
https://bop.felk.cvut.cz/datasets/

[2021-12-16 14:04] DRM-Free commented on #381
I didn't know that. Never mind. Now, if I want to make a dataset for only one 3D model of interest while keeping distractors, what folder should I modify?

[2021-12-16 15:07] Me817 commented on #385
Hello @cornerfarmer,
thank you for testing it with the camera_object_pose example. I tested it too, and the K matrix is correctly written into the camera.json too.
In our own script we uses a loop to generate several images. And setting the camera intrinsics outside this loop it is not written into the camera.json but setting it inside the loop right before setting the camera poses it is correctly

[2021-12-17 09:50] mikkelmedm opened #400 "Rendering multiple times results in incresingly higher memory usage and slower processing"
**Describe the bug**
Not sure if this is a bug, or if I can somehow optimize my code more. Sorry if I have missed something obvious.

Yesterday I started a process of running multiple renders (15 frames * 1000 runs), it started out running fine ("Fra: _n_ Mem: ~2.700M"). However inspecting this morning each render took waay longer and memory was "Fra: _n_ Mem: ~12.000M".

Trying to rerun the proce

[2021-12-17 10:06] mikkelmedm commented on #400
Hi :)
Thanks for your quick response!

With the new version, is there an easy way of doing the rerun (similar to the rerun.py script in previous version)?

[2021-12-17 11:08] liuzhihui2046 commented on #335
Is possible to use the debug mode  in docker?

[2021-12-17 11:13] themasterlink commented on #400
Yes, you can just use the `rerun.py` script. That is the correct way of doing it.

[2021-12-17 11:13] #400 closed

[2021-12-17 11:32] mikkelmedm commented on #400
Sorry for asking, I cannot seem to figure it out.
So if I would usually run above main.py script with e.g. ´´blenderproc run main.py --scene "beer.blend"´´, would I then have to now run ´´python rerun.py main.py --scene "beer.blend"´´?
Thanks

[2021-12-17 11:36] themasterlink commented on #400
Yes exactly :)

Best,
Max

[2021-12-17 12:30] mikkelmedm commented on #400
So I usually run `blenderproc run main.py --scene "beer.blend"`. Now running `python rerun.py main.py --scene "beer.blend"` leaves me with the following error message:
![image](https://user-images.githubusercontent.com/38498170/146544986-2888eb83-0a4b-488b-97e5-7def6e4c36dd.png)

[2021-12-17 12:37] mikkelmedm commented on #400
Sorry nevermind, I had to specify the output folder as the last argument, when using rerun.py, forgot about that :)

[2021-12-17 13:26] cornerfarmer opened #403 "Hide irrelevant error messages in debug mode"
Next to the actual exception, blender prints two additional stacktraces pointing to the `bpy.ops.text.run_script()`

[2021-12-17 13:39] #403 closed

[2021-12-17 13:39] cornerfarmer commented on #398
Should be fixed in the next version

[2021-12-17 13:39] #398 closed

[2021-12-17 13:42] #394 closed

[2021-12-17 14:05] #356 closed

[2021-12-17 14:06] cornerfarmer commented on #393
This is now fixed in version 2.2.0

[2021-12-17 14:06] #393 closed

[2021-12-17 14:06] cornerfarmer commented on #391
Done in

[2021-12-17 14:06] #391 closed

[2021-12-17 14:08] cornerfarmer commented on #385
Alright, can you then please upload the script you are using or at least the most important parts of it?
Maybe you are calling `bp.init()` at the beginning of each run?

[2021-12-17 14:39] MartinSmeyer opened #405 "[FEATURE]: add --version to cli"

[2021-12-17 16:07] MartinSmeyer commented on #381
You don't have to modify the folders. Just set the custom property `obj.set_cp('bop_dataset_name', 'my_bop_dataset')` of the 3D object you want to save information and pass it to the write_bop function `bproc.writer.write_bop(... , dataset='my_bop_dataset')`

In the new BlenderProc version 2.2 that we just released, you can also simply pass a list of `target_objects` to the `bproc.writer.write_bop

[2021-12-18 14:17] f-sky opened #407 "[BUG]: Where is the definition of 'flow_to_rgb'?"
**Describe the bug**
A clear and concise description of what the bug is.
I cannot find the definition of 'flow_to_rgb' which is imported [Here](https://github.com/DLR-RM/BlenderProc/blob/f0c5b4fde870484ca68a6a28a9fed013aed5809a/blenderproc/scripts/visHdf5Files.py#L47).
**General Information**
1. Which BlenderProc version are you using?
2.2.0
2. On which operating system are you?
ubuntu 18.04
3. Ha

[2021-12-19 00:59] f-sky opened #408 "[QUESTION]: How to render the animation?"
**Is your feature request related to a problem? Please describe.**

I'm trying to move an object in BlenderProc and render the animation, resulting in the RGB images, depth images, segmentation masks, and optical flow for ALL frames. Is it possible? I have tried the physics module, but it produced only the frame where the objects have finished their motion.

[2021-12-20 02:20] liuzhihui2046 opened #409 "[BUG]: install debugpy error"
**Describe the bug**
A clear and concise description of what the bug is.
I can successfully install blenderproc through  ```PIP install blenderproc```
however the Debugpy cannot be installed.

**General Information**
1. Which BlenderProc version are you using?
2.93 and 3.0.0

2. On which operating system are you?
macos 10.15

3. Have you checked the issue tracker to see if a similar issue has been

[2021-12-20 06:19] liuzhihui2046 commented on #409
I found the corresponding files under the **Resources** directory, that is, the 2.93 folder is not under the **MacOS** directory, but under the **Resources**. After I move these files, I can install them normally.So I think maybe a path in the installation file is not set correctly

[2021-12-20 06:19] #409 closed

[2021-12-20 10:14] DRM-Free commented on #381
I'm a little confused. In the readme, it says that I can use blender proc run with a python script as an argument, but in the bop challenge page it says to instead use the yaml configuration file. I managed to generate a dataset by using a yaml file that did not have a corresponding .py file in the same folder. Is blenderproc supposed to run the main**.py file that is present in the same folder as

[2021-12-20 10:26] themasterlink commented on #408
Hey,

the support for video rendering with BlenderProc is not 100% there, yet. Mostly, as we haven't use this ourselves.

But, only with a few changes you can do it yourself.

If you use this function, then the final poses won't be set and the animation is preserved:

https://github.com/DLR-RM/BlenderProc/blob/212a38b67301229de4c7fc19480f404583f98df5/blenderproc/python/object/PhysicsSimulation.py#

[2021-12-20 10:33] themasterlink commented on #407
Hey,

Yes you are right the function disappeared, very interesting. I know it was there a while ago, so it must have been deleted by accident. I will try to find it again.

Best,
Max

[2021-12-20 10:40] themasterlink commented on #407
I found the missing function, added a PR to add it back again.

Thanks for catching this error!

[2021-12-20 10:40] themasterlink commented on #385
I assume this can be closed now?

[2021-12-20 10:40] #385 closed

[2021-12-20 10:50] f-sky commented on #408
Yes, it solves my question! Thanks a lot!

[2021-12-20 10:50] #408 closed

[2021-12-20 11:51] marcelhohn opened #412 "[BUG]: BlenderProc doesn't find blender executable on windows since v2.2.0"
**Describe the bug**
Running BlenderProc without specifying `custom-blender-path` fails, because the blender executable is not found.

[code]

**General Information**
1. Which BlenderProc version are you using?
v 2.2.0

2. On which operating system are you?
Windows 10

3. Have you checked the issue tracker to see if a similar issue has been opened?
yes

4. Have you changed BlenderProc in any way b

[2021-12-20 13:34] #407 closed

[2021-12-20 14:28] #412 closed

[2021-12-20 14:29] #405 closed

[2021-12-20 15:16] DRM-Free commented on #381
Thanks, I managed to get the behavior I was looking for. I'm still encountering a critical problem which comes from my data. When I select a single object from the tless dataset to be the object of interest, the dataset generates just fine. When I select my own object, it seems that it does not appear on screen. Is there some guidelines regarding  the ply file generation (starting with a blender .

[2021-12-21 08:57] nikonnext opened #414 "[Question]: material creation"
Hi @maximilianmuehlbauer , thanks for good job.

I am using a file to generate my own dataset via "bop_object_physics_positioning". I would like to know if I can use my own materials for objects. I wrote a small function to generate material, but I can't seem to use it within your library. Could you tell me how to implement such an idea.
Here is my function
[code]

[2021-12-21 09:00] nikonnext commented on #414
missed the start of the function
`def create_mat(mat_name):
    mat = bpy.data.materials.new(mat_name)
    mat.use_nodes = True`

[2021-12-21 09:46] themasterlink commented on #414
Hey,

yes we use this all the time in BlenderProc:

https://github.com/DLR-RM/BlenderProc/search?q=bpy.data.materials.new%28

Check out the `MaterialLoaderUtility`, it can help you make this even easier:

https://github.com/DLR-RM/BlenderProc/blob/5407f3c843a8b1444ee24137e67cad53aee4c619/blenderproc/python/material/MaterialLoaderUtility.py

You can now wrap your return material into our [Material]

[2021-12-21 10:48] nikonnext commented on #414
Oh @themasterlink, thank you for help. Sorry I was not attentive and disturbed you.

[2021-12-21 10:57] themasterlink commented on #414
Hey,

no worries. Happy holidays! :)

If you want to thank me tell people about BlenderProc ;)

Best,
Max

[2021-12-21 10:57] #414 closed

[2021-12-21 11:33] JanGlinko opened #415 "[BUG] Incomplete segmentation masks -> lead to wrong annotations (happens every few thousand images)"
Hello,
i was looking at my dataset and i found that some masks are incomplete. Examples are below:
![Screenshot from 2021-12-21 12-25-09](https://user-images.githubusercontent.com/94356189/146922818-517905d5-86ef-4a74-8bf4-5dd792a62dc4.png)
![Screenshot from 2021-12-21 12-24-49](https://user-images.githubusercontent.com/94356189/146922829-45c57ebc-d883-4546-b9c0-13eee920f0d4.png)
![Screenshot from

[2021-12-21 12:18] themasterlink commented on #415
Hey,

I have seen this issue before :/ We are so far unsure what causes it. The reason lies in the semantic segmentation which sometimes breaks. Do you have an example where it always happens? That would make it so much easier for us to debug this.

We see it only once every few thousand images so it is not that easy to debug and we have no clue what causes it. My guess would be on the reading of

[2021-12-21 12:31] JanGlinko commented on #415
I can not find any rule :/ it seems to be happening randomly, like You have said.

[2021-12-21 12:35] themasterlink commented on #415
That is what I feared ... :( We will look into it, maybe we find a setting where we can reproduce it ...

Thanks for raising the issue, we will keep you posted.

[2021-12-21 15:54] eliabntt opened #416 "[BUG]: 3D front floor problem"
**Describe the bug**
[code]
Seems no floor is being detected/loaded.

**General Information**
1. Which BlenderProc version are you using?
Latest

2. On which operating system are you?
Ubuntu 20.04

3. Have you checked the issue tracker to see if a similar issue has been opened?
Yep

4. Have you changed BlenderProc in any way besides the config file? If yes, are you sure that this change does not a

[2021-12-21 16:06] cornerfarmer commented on #415
Hey @JanGlinko,

could you please tell us which blenderproc version you are using?

[2021-12-21 16:37] themasterlink commented on #416
Hey,

I just tried out the scene `a7203875-f96f-43b7-97db-af7d0b822189.json` and it works for me. Do all scenes not work or just this one? Can you check maybe 10 and tell me how many work or if all fail?

It might be that they changed the 3D Front dataset again, could you tell me when you did you download the 3D FRONT dataset?

Best,
Max

[2021-12-21 16:47] themasterlink commented on #416
Hey,

I checked now with the pip install of `blenderproc==2.2.0` and with the current main github branch db04f23431f7859ad78fef7f1360f5a68acc3781 and can not reproduce this error.

In both cases `len(self.used_floors)` gives 4.

Best,
Max

[2021-12-21 16:59] MartinSmeyer commented on #376
I checked whether we can achieve a physics integration with the loaded urdfs/bones constraints. It does not seem trivially possible, but there are some efforts in that direction:

Blender Feature Requests (3y ago): https://blender.community/c/rightclickselect/d3bbbc/?sorting=hot
Paywalled Ragdoll addon: https://www.blendermarket.com/products/ragdoll-tools

Oh I just found an open source alternativ

[2021-12-21 17:03] lelouedec opened #417 "Loading objects through other scripts"
Hi !
I have a question about how the scene can be created other than through loading OBJ/blend files.
I have some scripts creating and manipulating some meshes both with user input and through some algorithms.
For now the solution I have found to create the objects/modify them and the render them, is to have a function saving the mesh as an OBJ in tmp and then running blenderproc with the path to

[2021-12-21 18:40] JanGlinko commented on #415
@cornerfarmer I'm using blender 2.9.3 and blenderproc 2.1.0.
@themasterlink u mentioned that this bug occurs like every few thousands, in my case its every few tens. I suspect that might be becaouse of running same script parallely, in many instances?
I have started one instance, tomorrow i will count frequency of bug.

[2021-12-21 18:47] cornerfarmer commented on #415
Hey @JanGlinko,

then I would recommend you to upgrade to blenderproc 2.2.0 which uses blender 3.0.

I made a few tests today and I could reproduce the artifacts when using blender 2.9 on specific scene-device combinations.
It seems to be a bug in blender 2.9 which sometimes just writes zeros for parts of the segmentation image. Maybe its some kind of racecondition when rendering is too fast.
Afte

[2021-12-21 20:18] themasterlink commented on #417
Hey,

you can always just use the pure blender API `bpy`. In combination with that you can still use blenderproc by using the debug mode. The only difficult thing would be to continue the script after you did your modifications.

There are a lot of tutorials on how to use the `bpy` API to create a all kind of mods, it is quite easy to add a new button to the API, we already did that for the debugg

[2021-12-22 11:15] JanGlinko commented on #415
@cornerfarmer i have switched to blenderproc 2.2 + blender3 and I have inspected 300 pictures (with about 3000 objects total) and I didnt find any incomplete masks. I was running 3 instances of same script.
Refering to my previous post, using blenderproc 2.1 and blender 2.9.3 incomplete masks occurs less often when running single instance. I compared only one run, same number of photos generated s

[2021-12-22 11:16] ChrisOTHR opened #418 "IKEA dataset not longer available"
When executing the script "download_ikea.py" the script and therefore the download of the dataset fails. After some investigation I noticed the link to the IKEA dataset provided in the script seems to be offline, as there's a Error 404 message displayed when opening it manually in a browser.

Command I used to run the download script:
`python C:\Users\Christoph\OneDrive\Desktop\BlenderProc-main\bl

[2021-12-22 11:44] themasterlink commented on #418
Duplicated #220

[2021-12-22 11:45] themasterlink commented on #418
We can only wait until the authors upload the dataset again. I have contacted them several times, but they have not responded yet.

[2021-12-22 11:45] #418 closed

[2021-12-22 14:53] cornerfarmer commented on #415
Hey @JanGlinko,

thank you very much for your effort! Good to hear that the bug seems to be solved by blender3. Let me know if you nevertheless experience something similar in the future.

Concerning blender 2.9.3: I agree the bug only occurred in some very specific cases. That's also why it was so hard to reproduce it.

[2021-12-22 14:53] #415 closed

[2021-12-23 09:37] anilozfuttu opened #420 "[Question]: How to use key frames for lights"
**Describe the solution you'd like**
How to also sample lighting position and lighting parameters for every camera pose?

For example there is a function for adding camera pose;
[code]

is there a function similar to
[code]

**Describe alternatives you've considered**
I can use single random camera position and lighting position then rerun the script. But every rerun,  blend files imported again.

[2021-12-23 09:56] themasterlink commented on #420
Hey,

the camera has a unique setting, as there is only per one scene. For lights this is not the case, but we have a nice solution for this as well.

In this tutorial you learn how to use key frames, and then you can set for each camera key frame, the position of your light:

https://github.com/DLR-RM/BlenderProc/blob/main/docs/tutorials/key_frames.md

In your example this might look like this:

[2021-12-23 23:16] shahaamirbader opened #421 "Reconstructing a 3D Object from Instance Segmentation and Depth Estimation results [FEATURE]:"
**Is your feature request related to a problem? Please describe.**
I would like to reconstruct a 3D Object from an instance segementation and Depth Estimation results that I have for that object. The object could be from a COCO dataset for example. The purpose is to reconstruct the object for use in Augmented Reality

**Describe the solution you'd like**
Is there a way by which I could integrate B

[2021-12-24 14:42] themasterlink commented on #421
Hey,

this is such a major feature that there are several different solutions online available:

https://www.agisoft.com

https://alicevision.org

BlenderProc does not offer any mode to reconstruct 3D objects from images. You can render synthetic images from existing 3D models, but not the other way around. You need the 3D models to use BlenderProc.

I hope you find a different tool, which helps y

[2021-12-24 14:42] #421 closed

[2021-12-28 06:07] chenerg opened #422 "[Question] How to delete one object?"
I write a script to render objects one by one. The main part is like the following,

[code]
But when I run the script, the used GPU memory increases when the new obj is loaded. I wonder if `obj.delete` is not the right way to delete the previous objects?

[2021-12-28 09:13] themasterlink commented on #422
Hey,

BlenderProc is designed to be run a certain way. It works best if you first create a scene and then render it from different viewports. Afterwards you start again with a new BlenderProc run.

We even have a short script showing you how to rerun BlenderProc: https://github.com/DLR-RM/BlenderProc/blob/main/rerun.py

The problem here is that blender keeps all objects in the cache for faster rer

[2021-12-28 09:14] themasterlink commented on #420
I will close this then.

[2021-12-28 09:14] #420 closed

[2021-12-28 09:18] chenerg commented on #422
Very appreciate. I think the [rerun.py](https://github.com/DLR-RM/BlenderProc/blob/main/rerun.py) is what I need.

[2021-12-28 09:18] #422 closed

[2021-12-29 15:00] alexander-soare opened #423 "[BUG]: Depth behaving incorrectly with random background since v2.1.0"
**Describe the bug**

In previous versions I could render depth maps where I had removed the environment and enabled transparency in order to use random backgrounds. Here's an example (visualized with open3d):

![Peek 2021-12-29 14-48](https://user-images.githubusercontent.com/16543381/147674180-783ebb18-a10b-49c9-88c1-81463b681b9c.gif)

It looks mostly fine (apart from the linear interpolation -

[2021-12-29 15:17] alexander-soare commented on #423
Realised this is actually my fault. The depth maps look fine. It's just that the way the depth map renders infinite distance is different. This broke my point cloud construction script. So it's my fault for making assumptions of what the depth map values should be when there is no 3d mesh.

[2021-12-29 15:17] #423 closed

[2021-12-29 15:20] alexander-soare commented on #423
@themasterlink sorry to tag you but didn't want to open another issue for this. Just a quick question. Is there a way to specify the default depth value (for wherever there is no visible MeshObject)? For now I'll be simply using `np.clip` with a max value as I know what my aproximate max distance will be.

[2021-12-30 11:23] MartinSmeyer commented on #417
Just to add, I think @lelouedec wants a direct interface between BlenderProc and other Mesh libraries such as Open3D without saving + loading the mesh. This would both save time and avoid temporary files. Of course bpy can do that through `from_pydata()` but it would be nice to expose a function in the BlenderProc MeshObject class that allows constructing a mesh from an array of vertices/faces/col

[2021-12-30 11:36] lelouedec commented on #417
Hi Martin and Max,
Sorry for the late answer and Merry Christmas/happy new Year !
I went with Max advice (thank you for the idea) and implemented a small module for blender using bpy, to modify a given mesh selected the same way I was doing with open3d. In the end as I was using numpy for the data processing the change wasn't very difficult.
![Screenshot from 2021-12-30 12-28-26](https://user-imag

[2022-01-02 12:46] themasterlink commented on #423
Hey,

if you talk about using the distance you can see the max value here:

https://github.com/DLR-RM/BlenderProc/blob/206c83da224baef73ea3f4a5890a89cc327ffce0/blenderproc/python/utility/DefaultConfig.py#L37

It is used here:

https://github.com/DLR-RM/BlenderProc/blob/b9e751a6f27c2b233f6f4716209c087230cfc535/blenderproc/python/renderer/RendererUtility.py#L177-L178

Did you mean this?

Best,
Max

[2022-01-03 10:40] alexander-soare commented on #423
@themasterlink ahh yes I assumed that was another things because it related to anti-aliasing. Will give it a try and let you know if I have problems. Many thanks!

[2022-01-03 11:57] NaiyerRafique opened #424 "Loading objects in BOP script"
Hi!
I have a question regarding loading objects in the BOP script. I am working the BOP physics positioning script and the BOP datasets are working alright with good results.
But I have been trying to load .obj and .ply objects other than the BOP dataset into the main script. I haven't been able to do that successfully. Is it possible to load such objects in the BOP physics positioning script. If

[2022-01-03 12:14] themasterlink commented on #424
Hey,

of course this is possible, I assume you use Blenderproc 2.2.0.

How to load objects is done in this tutorial:

https://github.com/DLR-RM/BlenderProc/blob/main/docs/tutorials/loader.md

If this does not help you check or example section, there we load objects too:

https://github.com/DLR-RM/BlenderProc/tree/main/examples/basics

I hope this helps.

Best,
Max

[2022-01-03 13:25] NaiyerRafique commented on #424
I am using version 2.0.0a7
Actually I have tried that but I think I should add some detail to show the full picture.

In the BOP Challenge example in the bop_object_physics_positioning example I tried to add another object (a model of a pen) in addition to the sampled BOP objects and distractor BOP objects using the command :                                               "extra_obj = bproc.loader.

[2022-01-03 14:02] themasterlink commented on #424
Hey,

this issue was raised before: https://github.com/DLR-RM/BlenderProc/issues/381#issuecomment-996839594

The answer in blenderproc 2.0.0 has changed a bit to:

[code]

As the error message already said is now key set in the `get_cp` function. So we set one with the `set_cp` function, this is required as each object has to belong to a certain bop dataset, if not the writer does not work accordi

[2022-01-03 17:01] NaiyerRafique commented on #424
Thanks a lot! I am now able to see the extra_object in the rendered image. But I also need the BOP annotations for the extra_object. I would like to know how to change the following code to see the extra_objects added in scene_gt.json

# Write data in bop format
bproc.writer.write_bop(os.path.join(args.output_dir, 'bop_data'),
                       dataset = args.bop_dataset_name,

[2022-01-03 19:10] themasterlink commented on #424
In BlenderProc 2.2.0:

https://github.com/DLR-RM/BlenderProc/blob/b9e751a6f27c2b233f6f4716209c087230cfc535/blenderproc/python/writer/BopWriterUtility.py#L19-L26

This should give you the option to save the type of objects you want to save.

[2022-01-04 08:47] nhuetten opened #425 "[BUG][Question]: Instance and Class segmaps have the same number of unique instances"
**Describe the bug**
I tried to render images for instance segmentation. I render "class" and "instance" segmentation maps using a blend file with a model containing many objects with the same mesh (lego bricks) but unique naming like part.1, part.2,... and so on. The generated segmentation maps contain the same number of unique instances as classes and from their visualization it is visible that

[2022-01-04 09:31] themasterlink commented on #425
Hey,

the problem is in your code not in BlenderProc.

[code]

You use the name of the object, to identify the category id, but each object has a unique name. In your instance each object is named `part.XXX`.

I would give them better classes than this could actually work. You can also filter out the dot in your name:
[code]

Best,
Max

[2022-01-04 09:31] #425 closed

[2022-01-04 10:14] nhuetten commented on #425
Thanks for the quick reply Max.
This fixes an issue with the class segmentation maps i wasn't aware of previously.
The actual problem I was asking about is that the instance segmap contains the same number of unique values as the class segmap. From my understanding the instance segmap assigns a mask to each individual object in the scene based on some kind of unique internal index for each object

[2022-01-04 11:16] themasterlink commented on #425
Yes it is used. If you assign each object a unique class, then the number of instances will be the number of classes.

Normally, classes should appear more than once in an image that instances are useful.

Best,
Max

[2022-01-04 12:19] nhuetten commented on #425
Ok thank you very much for the clarification!

Best,
Nils

[2022-01-04 19:04] NaiyerRafique commented on #424
I have a couple of questions.

1. When I import a BOP dataset as a distractor object, there are no problems but if I import them through the following command:
extra_obj = bproc.loader.load_obj("BOP_Datasets/hb/models_eval/obj_000032.ply")

I get the following message.
Warning: Detected that obj_000007 is completely inside obj_000032. This might be wrong, if obj_000032 is not water tight or has in

[2022-01-05 09:59] MartinSmeyer commented on #424
Hi @NaiyerRafique

1.)
Loaded objects are initially placed at the origin. Therefore it can happen that an object is completely inside of another object. This is what the warning in `bproc.loader.load_obj()` is telling you. The `bproc.loader.load_bop_objs()` function does not have this warning.

What is messing up your rendering is the fact that BOP model vertices are defined in mm. If you set `bpr

[2022-01-09 12:45] f-sky opened #426 "[FEATURE]: Is it possible to add a initial speed and angular velocity for animation?"
I'm using animation in BlenderProc, however, the rigid body component only adds one velocity pointing down. Is there other direction I can add to the object? Or is it possible to add a force to the object?

[2022-01-09 12:53] themasterlink commented on #426
Hey,

this question relates more to blender than to BlenderProc, which is great for you because there are thousand sources online on how to proper animation in blender. Googling pro tip is here to include the word `bpy` in the search, it will show you how to do whatever you want to do in python and not the UI.

For example you could use force fields:

https://docs.blender.org/manual/en/latest/phys

[2022-01-10 14:29] ug-kim commented on #409
I also have the same issue. I could not install debugpy, and I found that 3.0 folder is under Resources, not under the MacOS.

After I move them from Resources to MacOS, It works well.

[2022-01-11 09:43] MartinSmeyer opened #427 "[FEATURE]: Add quickstart.py to package for easy testing"
**Is your feature request related to a problem? Please describe.**
No way for quick tests without creating a file

**Describe the solution you'd like**
quickstart.py as file in `blenderproc/scripts` or `blenderproc/resources`. Maybe define an entrypoint as well.

**Describe alternatives you've considered**
Create file yourself, but that is tedious.

[2022-01-11 09:56] themasterlink opened #428 "[BUG]: MacOS python pip paths are incorrect"
**Describe the bug**
When trying to install new python packages via `blenderproc pip install package` an error is thrown that the used python bin is not available.

**General Information**
1. Which BlenderProc version are you using?
 Version 2.2.0
2. On which operating system are you?
 Mac OS
3. Have you checked the issue tracker to see if a similar issue has been opened?
 Yes
4. Have you changed

[2022-01-11 09:59] themasterlink commented on #409
Hey,

thanks for raising this again this was still a bug and will be fixed with #429

Best,
Max

[2022-01-11 10:01] themasterlink commented on #427
PS: Make sure to adapt the `README.md`

[2022-01-11 14:54] eliabntt opened #430 "[BUG]: 3D FRONT texture url uses an old amazon server link"
Hi, some jsons are indeed "corrupted" (or use an old server). You might want to add

`mat["normaltexture"] = mat["normaltexture"].replace("juran-prod-assets.s3.cn-north-1.amazonaws.com.cn", "jr-prod-pim-products.oss-cn-beijing.aliyuncs.com")`
 [here ](https://github.com/DLR-RM/BlenderProc/blob/e04e03f34b66702bbca45d1ac701599b6d764609/blenderproc/python/loader/Front3DLoader.py#L139)

[2022-01-11 14:55] #416 closed

[2022-01-11 15:11] themasterlink commented on #430
Hey,

that is interesting. Did you already inform the 3D FRONT guys about this problem, as they provide this dataset with these urls.

We should think about adding this fix, if this original server is no longer available in all regions and the new one is available in all regions.

Best,
Max

[2022-01-11 15:14] eliabntt commented on #430
Just drop them an email 👍

On Tue, 11 Jan 2022, 16:11 Maximilian Denninger, ***@***.***>
wrote:

[2022-01-11 15:17] themasterlink commented on #430
Looking forward to their e-mail!

[2022-01-12 11:43] eliabntt commented on #430
Ok, apparently there is a mixup in the json.

I noticed this in the 9b70aba5-4a95-4ffe-a585-41e3a46f716d.json but saw similar "gets" in other scenes that I loaded yesterday.

If I understood correctly (I just sent an email to confirm) the official id of the texture is the one of the jid.

Therefore, taking as an example the following json entry (from the file above)
[code]
The correct link for nor

[2022-01-12 13:58] eliabntt commented on #430
While waiting for that I was exploring lights.

I noticed that not all lights/models are loaded with the correct categories.

I've tested scene a7203875-f96f-43b7-97db-af7d0b822189.json for example, in which objects `others` and `others.011` are loaded with the category 15. However, by using their uid I was able to trace back to jids `81c358ca-dd9f-4d4d-8e96-664752f15204` and `485d233b-2a47-451a-8

[2022-01-13 15:22] marcelhohn commented on #358
@themasterlink, I dived a bit into why running `blenderproc` on Windows in not working, but would need some feedback of you if I understood correctly what you intend to do in the last lines of `__init__.py` referenced below, so that I can create a PR with the corresponding fix.

The reason for the failure are the following lines, which I think intent to check whether the execution of BlenderProc w

[2022-01-18 00:38] #426 closed

[2022-01-18 06:28] ethanyanjiali opened #431 "[FEATURE]: Is there a tutorial to replicate the animation and rendering from the cover page?"
**Is your feature request related to a problem? Please describe.**
Hi team, I just start to learn BlendProc and try to replicate the scene shown in the README. Do you know if you could provide the script or make a tutorial to help us to do so? This will really help me to learn to use BlenderProc for more complicated projects.

<img src="https://user-images.githubusercontent.com/6104887/137109535-2

[2022-01-18 08:18] themasterlink commented on #431
Hey,

what part exactly? The first part with the BlenderProc 2 logo is just rendered in plain blender. So far we haven't integrated geometry nodes into BlenderProc as they are still in rapid development.

For the rest, you can look into the two examples for physics simulation:

https://dlr-rm.github.io/BlenderProc/examples/basics/physics_positioning/README.html
https://dlr-rm.github.io/BlenderProc

[2022-01-18 14:47] marcelhohn opened #432 "[BUG]: scale is applied twice when creating a primitive"
**Describe the bug**
`scale` is applied twice when creating a primitive via `create_primtive()` in `MeshObjectUtility.py`.

**General Information**
1. Which BlenderProc version are you using?
Checked out on main branch

2. On which operating system are you?
Windows 10

3. Have you checked the issue tracker to see if a similar issue has been opened?
Yes

4. Have you changed BlenderProc in any way b

[2022-01-18 14:53] themasterlink commented on #432
Hey,

@cornerfarmer didn't we had something like this before? Wasn't this an open blender issue that the creation of a cube ignored the scale/size?

Best,
Max

[2022-01-18 15:00] cornerfarmer commented on #432
It seems that the blender bug was resolved in 2.90.1, however we are still applying the workaround here:
https://github.com/DLR-RM/BlenderProc/blob/5be0cb1257d83e22535afba739bd6f9b359f4c03/blenderproc/python/types/MeshObjectUtility.py#L520

We should remove that

[2022-01-18 15:04] marcelhohn commented on #432
@cornerfarmer You're welcome

According to the link above from @cornerfarmer it seems that scale does not apply for plane, however...
One would probably need to adapt the function according to the desired primitive. Also some simple automatic tests for testing the Blender API would be good, since this still seems to be a discussed topic on behalf of Blender and more changes might come.

[2022-01-18 16:00] themasterlink commented on #430
That would be an idea.

The biggest problem is that not all objects are labeled correctly. For example this is labeled as bed, more precisely a `Kids Bed`: (I really hope no kid has to sleep in this)

![image](https://user-images.githubusercontent.com/6104887/149972649-78b080b1-28d1-4d3b-940c-aa69d82a8c28.jpg)

So, yes if you want you can provide a PR for merging objects which belong to the same o

[2022-01-18 16:14] eliabntt commented on #430
Ok. I've also created actual point lights. I'll create a pr as soon as ready and polished.

Can you point out that asset/scene pls? Maybe, a combination between the jids and the name would be interesting to be carried out.

[2022-01-18 16:19] themasterlink commented on #430
Hey,

That is the id of the 3d model: `414f989c-d6d9-43ee-be70-dde9e68398a8`

But, there are many many more. I might do a PR in the future fixing the classes of the objects, but I hoped the people behind 3D FRONT will release a new version, which also includes doors and windows, before that happens.

Best,
Max

[2022-01-18 16:21] eliabntt commented on #430
Yeah, I was looking into windows too but I've realized that some environments have "windows" while others have something different. Same for doors.

However, I think that, talking about 3D datasets with actual objects/meshes, this is one of the best ones. Am I wrong?

[2022-01-18 16:24] themasterlink commented on #430
Oh, by far the best dataset which is freely available. There is not even a second one in line, it is 3D FRONT and then that's it. The rest can not compete in size or scale or quality of the assets.

[2022-01-18 16:32] eliabntt commented on #430
There's hypersim from apple iirc but that's behind paywall :(

[2022-01-18 23:12] 12nathanb opened #434 "Help with COCO and multiple objects making up one object"
Sorry if this is the wrong place to ask questions.

I am trying to make a a dataset of vehicles and the issue i have at the moment is the vehicle model is made up of lots of different parts. The COCO annotations end up labelling each part individually. Is there a way i can make it so it labels all those models just as one.

example

Car.obj
   -door
   -hood
   -wheel

At the moment each one gets

[2022-01-19 08:55] themasterlink commented on #434
Hey,

you can use the bpy API for this.

Select all the objects you want to use and then join them:

[code]

I haven't tested this, but it should work. If not, everything relies on the bpy API from blender, you can easily google on how to join some objects.

Best,
Max